html,
body {
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    border: none;
    padding-top: 3em;
    background: url("../imgs/background/articleBac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: justify !important;
    position: relative;
}

@media (max-width: 650px) {
    html,
    body {
        background: url("../imgs/background/phone/ParticleBac.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}


/* ----------------------- */


/* font     */


/* ----------------------- */

@media (max-width: 450px) {
    h5.title {
        font-size: 3em;
    }
}

div.info {
    font-size: 1em;
}

h1 {
    font-weight: bolder;
    text-align: center !important;
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 1px 1px 5px #555;
}

div.content {
    padding: 1em 1em 1em 1em;
    background-color: #eee;
    opacity: 0.95;
    margin-bottom: 2em;
    border-radius: 12px;
}


/* ------------------- */


/* articlePost */


/* ------------------- */

@media (max-width: 1199px) {
    div.post {
        margin-top: 2em;
    }
}

a.floorTag {
    text-align: right;
    color: #fff !important;
    padding: 0.1em 0.4em 0.1em 0.4em;
    border: 2px solid #993a3a;
    border-radius: 8px;
    background-color: #993a3a;
    white-space: nowrap;
}

div.floor {
    margin-bottom: 0.5em;
}

p.content {
    color: rgb(73, 73, 73);
}

button.report {
    float: right !important;
}

button.like {
    float: right !important;
}


/* post */

div.info {
    margin-left: -0.9em;
    text-align: justify !important;
}

div.info a {
    font-size: 1em;
    word-break: break-all;
}

a.name {
    text-align: justify;
}

@media (max-width: 450px) {
    a.next::before {
        white-space: pre;
        content: '\A';
    }
}

a.dateTime {
    font-size: 0.8em !important;
    color: rgb(104, 102, 102) !important;
    margin: 0;
}

.col-sm-1 {
    width: 25%;
    margin: 0;
}

.col-sm-2 {
    width: 35%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}


/* icon */

.fa-gratipay,
.fa-comment-dots,
.fa-bookmark {
    font-size: 25px;
    margin-right: 0.2em;
}

.fa-bookmark {
    padding-top: 0.13em;
}


/* tag */

div.tagDiv {
    padding: 0em;
    margin: 0em;
}

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
}

button.info:hover,
button.postInfo:focus,
button.postInfo:hover,
button.postInfo:active,
button.postInfo:visited {
    color: #993a3a;
}


/*  button */

button.footer {
    margin: 0.1em;
    height: 2em;
    font-size: 1em;
    opacity: 0.89;
}

@media (max-width: 450px) {
    button.footer {
        font-size: 0.85em;
    }
}


/* hr */

hr.separate {
    opacity: 0.75;
    width: 70%;
    background-color: #eee;
    height: 1.5px;
    border: none;
    color: #d4d4d4;
}

hr.info {
    margin-bottom: 0em;
}

hr.smallMagin {
    margin: 0.2em 0 1em 0;
}


/* ------------------- */


/* replying */


/* ------------------- */

div.replying {
    margin-bottom: 50px;
}

input.message {
    width: 100%;
    height: auto;
}

textarea.input {
    width: 100%;
    height: 200pt;
    border: none;
    padding: 1em;
}

.float-md-right {
    float: right;
}