@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
html,
body {
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    border: none;
    padding-top: 3em;
    background: url("../imgs/background/articleBac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: justify !important;
    position: relative;
}

@media (max-width: 991px) {
    html,
    body {
        padding-top: 2em;
    }
}

@media (max-width: 650px) {
    html,
    body {
        background: url("../imgs/background/phone/ParticleBac.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}


/* ----------------------- */


/* font     */


/* ----------------------- */

@media (max-width: 450px) {
    h5.title {
        font-size: 3em;
    }
}

div.info {
    font-size: 1em;
}

h1 {
    font-weight: bolder;
    text-align: center !important;
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 1px 1px 5px #555;
}

div.content {
    padding: 1em 1em 1em 1em;
    background-color: #eee;
    opacity: 0.95;
    margin-bottom: 2em;
    border-radius: 12px;
}


/* ------------------- */


/* articlePost */


/* ------------------- */

@media (max-width: 1199px) {
    div.post {
        margin-top: 2em;
    }
}

a.floorTag {
    text-align: right;
    color: #fff !important;
    padding: 0.1em 0.4em 0.1em 0.4em;
    border: 2px solid #993a3a;
    border-radius: 8px;
    background-color: #993a3a;
    white-space: nowrap;
    margin: 0 0.5em 0 1em;
}

p.content {
    color: rgb(73, 73, 73);
}

button.report {
    float: right !important;
}

button.like {
    float: left !important;
    padding: 0;
    margin: 0;
}

.col-sm-1 {
    padding-left: 1.5em;
    width: 15%;
}

@media (max-width: 650px) {
    .col-sm-1 {
        margin-right: 1em;
        padding: 0.1em 0 0 0.1em;
    }
}


/* post */

div.info {
    margin-left: -0.5em;
    white-space: nowrap;
}

@media (max-width: 450px) {
    a.next::before {
        white-space: pre;
        content: '\A';
    }
}

a.dateTime {
    font-size: 0.9em !important;
    color: rgb(104, 102, 102) !important;
    margin: 0;
}


/* icon */

.fa-gratipay,
.fa-comment-dots,
.fa-bookmark {
    font-size: 25px;
    margin-right: 0.2em;
}

.fa-bookmark {
    padding-top: 0.13em;
}


/* tag */

div.tagDiv {
    padding: 0em;
    margin: 0em;
}

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
}


/*  button */

button.footer {
    margin: 0.2em;
    height: auto;
    font-size: 1em;
    opacity: 0.89;
    padding: 0.2em 0.3em;
}

@media (max-width: 450px) {
    button.footer {
        font-size: 0.85em;
    }
}


/* hr */

hr.separate {
    opacity: 0.75;
    width: 70%;
    background-color: #eee;
    height: 1.5px;
    border: none;
    color: #d4d4d4;
}

hr.info {
    margin-bottom: 0em;
}

hr.smallMagin {
    margin: 0.2em 0 1em 0;
}


/* ------------------- */


/* replying */


/* ------------------- */

div.replying {
    margin-bottom: 50px;
}

input.message {
    width: 100%;
    height: auto;
}

div.replyInput {
    width: 100%;
    min-height: 150px;
    height: auto;
    padding: 1em;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.89;
    margin-bottom: 1em;
    border-radius: 8px;
    caret-color: #993a3a;
    cursor: text;
}

.input:empty::before {
    color: lightgrey;
    content: attr(placeholder);
}


/*focus時内容為空*/

div.replyInput:focus:before {
    content: none;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: black;
}

div.replyInput:focus {
    outline: none;
    cursor: text;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.98;
    transition: 0.3s ease-in-out;
    cursor: text;
    display: block;
}

.float-md-right {
    float: right;
}

div[contenteditable=true]>div {
    padding: 0;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
    cursor: pointer;
}

#upload-img {
    max-height: 350px;
    max-width: 60%;
    cursor: pointer;
}