html,
body {
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    border: none;
    word-wrap: break-word;
    padding-top: 3em;
    /* background: url("../imgs/article-bac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     */
    text-align: justify;
}

@media (max-width: 750px) {
    html,
    body {
        padding-top: 1.5em;
    }
}


/* ----------------------- */


/* font     */


/* ----------------------- */

@media (max-width: 450px) {
    h5.title {
        font-size: 3em;
    }
}

div.info {
    font-size: 1em;
}

h1 {
    font-weight: bolder;
    text-align: center !important;
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 1px 1px 5px #555;
}

div.content {
    padding: 1em 1.5em 1em 1.5em;
    background-color: #eee;
    opacity: 0.95;
    margin-bottom: 2em;
    border-radius: 12px;
}


/* ------------------- */


/* articlePost */


/* ------------------- */

@media (max-width: 1199px) {
    div.post {
        margin-top: 2em;
    }
}

a.floorTag {
    text-align: right;
    color: #fff !important;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border: 2px solid #993a3a;
    border-radius: 8px;
    background-color: #993a3a;
    text-decoration: none;
    word-break: break-all;
    font-size: 13px !important;
}

div.floor {
    margin-bottom: 0.5em;
}

p.content {
    color: rgb(73, 73, 73);
}

div.poster a {
    font-size: 13px !important;
}

button.report {
    float: right !important;
}


/* icon */

.fa-gratipay,
.fa-comment-dots,
.fa-bookmark {
    font-size: 23px;
}


/* tag */

div.tagDiv {
    padding: 0em;
    margin: 0em;
}

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
}


/* post */

div.info {
    margin-left: -0.9em;
}

div.info a {
    margin: 0.3em;
    font-size: 1.25em;
}


/* messageLike*/

button.info {
    float: right;
    font-size: 1.25em;
}

button.info a {
    margin: 0.3em;
    font-size: 1em;
}

button.info:hover {
    color: #993a3a;
}


/* ------------------- */


/* footer */


/* ------------------- */

.footer-item {
    margin: 0.25em;
    opacity: 0.85;
}


/* hr */

hr.separate {
    opacity: 0.75;
    width: 70%;
    background-color: #eee;
    height: 1.5px;
    border: none;
    color: #d4d4d4;
}

hr.info {
    margin-bottom: 0em;
}


/* ------------------- */


/* replying */


/* ------------------- */

div.replying {
    margin-bottom: 50px;
}

input.message {
    width: 100%;
    height: auto;
}

textarea.input {
    width: 100%;
    height: 200pt;
}