@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #678878;
}

.navbar .navbar-text {
    color: #5c868d;
}

.navbar .navbar-text a {
    color: #678878;
    text-align: center !important;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #678878;
}

.navbar .navbar-nav .nav-link {
    color: #5c868d;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #678878;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #678878;
    background-color: #2D4F41;
}

.navbar .navbar-toggle {
    border-color: #2D4F41;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #2D4F41;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #5c868d;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #5c868d;
}

.navbar .navbar-link {
    color: #5c868d;
}

.navbar .navbar-link:hover {
    color: #678878;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #5c868d;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #678878;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #678878;
    background-color: #2D4F41;
}


/* ========================================================================= */

@media (max-width: 992px) {
    .dropdown-toggle::after {
        display: none;
    }
}


/* drop menu */

.dropdown-toggle:active {
    background-color: none !important;
}

a.dropdown-toggle {
    color: white;
}

a.dropdown-toggle:hover {
    background-color: none;
}

div.dropdown-menu {
    background-color: #2D4F41;
    opacity: 0.89;
    border-radius: 12px;
    border: 2px solid #678878;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #2D4F41;
    padding: 8px;
    border: 2px solid #678878;
}

.dropdown:hover .dropdown-menu .dropdown-item:not(.disabled):hover,
.dropdown:hover .dropdown-menu .dropdown-item:not(.disabled):focus {
    color: #678878;
    border-radius: 8px;
}

.dropdown-item:hover {
    background-color: #678878!important;
    border-radius: 8px;
}


/* navbar文字hover */

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #678878 !important;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover .a .img {
    background-color: #678878 !important;
    transition: 0.3s;
}

#navbarNav>ul>li a {
    font-size: 1.1em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}

.navbar {
    opacity: 0.89;
    background-color: #2D4F41;
    /* background-color: #2D4F41;
    /* background-color: #9f9289; */
}

@media (max-width: 1199px) {
    .navbar {
        background-color: #2D4F41;
    }
}

a.navTitle {
    font-size: 1.15em !important;
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    text-decoration: none;
}


/* ------------------- */


/* goto */


/* ------------------- */

#gotop {
    padding: 5px;
    position: fixed;
    z-index: 90;
    right: 30px;
    bottom: 31px;
    display: none;
    width: 50px;
    height: 50px;
    color: #fff;
    background: rgb(143, 143, 143);
    opacity: 0.75;
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* -------------- */


/* hr */


/* -------------- */

hr.highlight {
    margin: 1em 0 2em 0 !important;
    width: 20em;
    background-color: #2D4F41;
    height: 5px;
    border: none;
    color: #d4d4d4;
    border-radius: 50%;
}

@media (max-width: 450px) {
    hr.highlight {
        width: 80%;
    }
    p {
        font-size: 1em !important;
    }
    p.poster {
        font-size: 0.75em !important;
    }
}


/* -------------- */


/* footer */


/* -------------- */

div.footer {
    width: 100%;
    text-align: justify;
    background-color: #2D4F41;
    opacity: 0.89;
    color: #fff;
    font-size: 0.75em;
    opacity: 0.89;
    color: #fff;
    margin: 1em 0 0 0 !important;
    padding: 1em 0 0 0 !important;
}


/* tag */

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
    text-align: left;
    background-color: #5580AA;
    border: none;
    color: white;
}

button.tag:hover {
    background-color: #32416e;
    color: white;
}


/* ------------------- */


/* shadowBox */


/* ------------------- */

.shadow {
    border-bottom: 0 none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.46);
}


/* ------------------ */


/* report */


/* ------------------ */


/* Pseudo element */

.input-icon-wrap {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    margin: 0.75em 0 0.75em 0;
}

.input-icon {
    background: #fff;
}

.input-with-icon {
    border: none;
    flex: 1;
}

.input-icon,
.input-with-icon {
    padding: 10px;
}

.fa-times-circle {
    margin-top: 0.35em;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

div.report {
    display: none;
    max-width: 50em;
    position: absolute;
    max-height: 50em;
    background-color: #2D4F41;
    opacity: 0.9;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    height: 20em;
    z-index: 10;
}

textarea.report {
    height: 200px;
    width: 100%;
}

button.report {
    float: right;
}