html,
body {
    height: 100%;
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    margin: 0 auto;
    padding: 0;
    border: none;
    text-align: justify;
    text-justify: inter-ideograph;
}

.banner {
    margin-bottom: 4em;
    /* opacity: 0.6; */
    width: auto;
    height: 100%;
    padding-top: 10em;
    padding-bottom: calc(10em - 72px);
    background: url("../imgs/background/banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

@media (max-width: 650px) {
    .banner {
        background: url("../imgs/background/phone/Pbanner.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}

div.block {
    height: 1em;
    position: absolute;
    bottom: 0%;
}


/* -------------- */


/* recommend */


/* -------------- */


/* -------------- */


/* portfolio */


/* -------------- */

div.recommend {
    margin-bottom: 3em;
}

div.article {
    height: 200%;
}

#portfolio .container {
    max-width: 1920px;
}

#portfolio .container .portfolio-box {
    position: relative;
    display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
    display: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 3em;
    -webkit-box-pack: center top;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: RGB(36.1, 52.2, 55.3, 0.9);
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
    font-family: 'Noto Serif TC', "Merriweather Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name p.title {
    font-size: 1.25em;
    text-align: center;
    font-weight: bold;
}

#portfolio p.content {
    font-size: 1em !important;
    padding: 0em 1.25em 0.5em 1.25em;
    text-align: justify;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.wrapper {
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border-radius: .2em;
    border: 3px solid #fff;
}

.portfolio-box {
    height: 600px;
}

#portfolio>div>div>div>a>img {
    width: 450pt;
    height: 200%;
    object-fit: cover;
    /* Scale the image so it covers whole area, thus will likely crop */
    object-position: center;
    /* Center the image within the element */
}


/* -------------- */


/* hotArticle */


/* -------------- */

div.hotArticle {
    margin-bottom: 3em;
    width: 100%;
}


/* -------------- */


/* card */


/* -------------- */

.wrapperCard {
    width: 100%;
    height: 150pt;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border-radius: .2em;
    border: 3px solid #fff;
    text-align: left !important;
    margin: 0;
}

.wrapperCardbig {
    width: 100%;
    height: 310pt;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border-radius: .2em;
    border: 3px solid #fff;
    text-align: left !important;
}

.wrapperCardSmall {
    width: 100%;
    height: 100pt;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border-radius: .2em;
    border: 3px solid #fff;
    text-align: left !important;
}

p.poster {
    text-align: right;
    font-size: 1em;
}

#articleList .card {
    margin-bottom: 1em;
}

.card-text {
    line-height: 1.5em;
}

.card p {
    padding: 0em;
}

#hotArticle h3 {
    font-size: 1.3em;
    text-align: left;
    font-weight: bolder;
}


/* -------------- */


/* goArticleList */


/* -------------- */

#hotArticle button {
    margin-top: 0.75em;
}


/* -------------- */


/* tag */


/* -------------- */

div.tagDiv {
    padding: 0em;
    margin: 0em;
}

div.floor {
    margin-bottom: 0.5em;
}

div.info {
    margin-left: 0.45em;
}


/* icon */

.fa-gratipay,
.fa-comment-dots,
.fa-bookmark {
    font-size: 23px;
}

div.info a {
    margin: 0.1em;
    font-size: 1.25em;
}


/* ------------------- */


/* search */


/* ------------------- */

form.search {
    margin: 1em;
}


/* Style the search field */

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 8px;
    float: center;
    width: 65%;
    background: #f1f1f1;
}


/* Clear floats */

form.search::after {
    content: "";
    clear: both;
    display: table;
}

button.goArticle {
    float: right;
}


/* footer */

div.footer {
    margin-top: 5em;
}


/* goDown */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.fa-chevron-circle-down {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 46.5%;
    font-size: 3em;
    opacity: 0.5;
    text-decoration: none;
    color: white;
}

.fa-chevron-circle-down:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

button.goArticle:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}