@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    margin: 0;
    padding: 0;
    border: none;
    background: url("../imgs/background/logInBac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 3em 0 0 0;
}

@media (max-width: 992px) {
    html,
    body {
        background: url("../imgs/background/phone/PlogInBac.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: auto;
    }
    span.changeCode {
        margin: 1em 0.1em;
    }
}

div.logIn,
div.signUp {
    width: 100%;
    padding: 0 0.5em;
    padding-bottom: 3em;
}

input:focus {
    outline: rgba(45, 79, 65, 0.329) dashed 3px;
    overflow: hidden;
}


/* --------------------- */


/* SIGNIN */


/* --------------------- */

#logIn button.login {
    margin: 1em 0 !important;
    width: 80%;
}

button.sameWidth {
    width: 40%;
}

#logIn form.logIn {
    margin-bottom: 3em;
    padding: 0;
    background-color: #f0f0f0;
    opacity: 0.95;
    text-align: center;
}

#logIn form button.center {
    margin: 0.1em 0.75em 0 0.1em;
}

#logIn form.logIn {
    line-height: 2em;
    padding: 1em 0.75em 2em 0.75em;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 2em;
}

@media (max-width: 350px) {
    #logIn form.logIn {
        border: none;
    }
}

#logIn button.third,
#logIn button.login {
    margin: 0.5em;
    float: center !important;
}

#logIn button.fb {
    background-color: #5a78bb;
    color: white;
}

#logIn button.fb:hover {
    background-color: #3e64b6;
    transition: 0.3s;
}

#logIn button.gmail {
    background-color: #eb6363;
    color: white;
}

#logIn button.gmail:hover {
    background-color: #e94444;
    transition: 0.3s;
}

#logIn button.gmail:focus {
    box-shadow: 0 0 0 0.2rem #e9444459;
}

.code {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    border: 0;
    letter-spacing: 3px;
    color: #2D4F41;
    margin-left: 0.5em;
}

input.code {
    width: 6em;
}

input.inputValidateCode {
    width: 8em;
    text-align: center;
    border: 1px solid #ddd;
}

span.changeCode {
    color: #2D4F41;
    text-decoration: none;
    font-weight: bolder;
    text-decoration: #2D4F41;
    cursor: pointer;
    margin: 0.1em;
}

i.fa-sync-alt {
    color: black;
    font-size: 20px;
}


/* --------------------- */


/* SIGNUP */


/* --------------------- */

#signUp form.signUp {
    line-height: 2em;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    opacity: 0.95;
}

@media (max-width: 350px) {
    #signUp form.signUp {
        border: none;
    }
    .button {
        margin: 1em;
    }
    .container-fluid.logIn,
    .container-fluid.signUp {
        margin: 2.5em 0em 0em 0em;
    }
}

#signUp button {
    margin: 0.75em 0 0.75em 0;
    width: 100%;
    float: center;
}


/* Pseudo element */

.input-icon-wrap {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    margin: 0.75em 0 0.75em 0;
}

.input-with-icon {
    border: none;
    flex: 1;
    overflow: hidden;
}

.input-icon,
.input-with-icon {
    padding: 10px;
}


/* radioBox */

div.radio {
    background-color: white;
}

.radio-custom {
    opacity: 0;
    position: absolute;
}

.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 1em;
    cursor: pointer;
    width: 4.5em;
    font-size: 1em;
    padding-right: 0;
}

.radio-custom-label {
    position: relative;
}

.radio-custom+.radio-custom-label:before {
    content: '';
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.radio-custom+.radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked+.radio-custom-label:before {
    content: "\f00c";
    font-size: 25px;
    line-height: 25px;
    font-family: 'FontAwesome';
    color: black;
}


/* validate */

p {
    text-align: right;
    color: #eb6363;
    /* font-weight: bolder; */
    font-size: 0.75em;
    padding-left: 2em;
}

i.alarm {
    font-size: 12.5pt;
}