@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
html,
body {
    height: 100%;
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    margin: 0 auto;
    padding: 0;
    border: none;
    text-align: center;
}

div.member {
    margin-top: 10em;
}

div.thirdParty {
    margin: 1em;
    padding: 3em 1em 1em 1em;
    opacity: 0.89;
    border: 5px solid #4C3C1B;
}

button.btn {
    font-size: 1em;
}

div.signUp {
    margin: 1em;
    padding: 3em 1em 1em 1em;
    border: 5px solid #4C3C1B;
}

input.form-control {
    width: 20em;
}