html,
body {
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    border: none;
    background: url("../imgs/background/articleBac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 3em;
    height: auto;
}

@media (max-width: 650px) {
    html,
    body {
        background: url("../imgs/background/phone/ParticleBac.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

div.content {
    padding: 1em 1em 1em 1em;
    background-color: #eee;
    opacity: 0.95;
    margin-bottom: 2em;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

div.post {
    background-color: #d4d4d4;
}

div.titleInput,
div.postInput {
    width: 100%;
    min-height: 50px;
    height: auto;
    padding: 0.75em;
    margin-bottom: 1em;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.89;
    border-radius: 8px;
    caret-color: #993a3a;
    cursor: text;
}

div.title {
    min-height: 50px;
}

div.postInput {
    min-height: 250px;
}

div.titleInput::before {
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
    content: "\f1dc";
    font-weight: 800;
}

div.titleInput:focus,
div.postInput:focus {
    outline: none;
    cursor: text;
}

.input:empty::before {
    color: lightgrey;
    content: attr(placeholder);
}


/*focus時内容為空*/

div.replyInput:focus:before {
    content: none;
}

[contentEditable=true]:empty:not(:focus):before {
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    content: attr(data-text);
    color: black;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
    cursor: pointer;
}

#upload-img {
    max-height: 350px;
    max-width: 60%;
    cursor: pointer;
}