html,
body {
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    border: none;
    word-wrap: break-word;
    /* padding-top: 0.75em;
    background: url("../imgs/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    text-align: justify;
    padding-top: 3em;
    height: auto;
    height: 100%;
    position: relative;
    -webkit-overflow-scroll: touch;
}

.container-fluid {
    position: absolute;
    padding: 0;
    margin: 0;
}

div.content {
    padding: 1em;
    background: #f0f0f0;
    border-radius: 8px;
}

textarea.input {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

textarea.input {
    width: 100%;
    height: 200pt;
}


/* ------------------ */


/* report */


/* ------------------ */


/* Pseudo element */

.input-icon-wrap {
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    margin: 0.75em 0 0.75em 0;
}

.input-icon {
    background: #fff;
}

.input-with-icon {
    border: none;
    flex: 1;
}

.input-icon,
.input-with-icon {
    padding: 10px;
}

.fa-times-circle {
    margin-top: 0.35em;
    font-size: 2em;
    cursor: pointer;
    color: white;
}

div.report {
    display: none;
    max-width: 50em;
    position: absolute;
    max-height: 50em;
    background-color: #2D4F41;
    opacity: 0.89;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    height: 20em;
}

textarea.report {
    height: 200px;
}

button.report {
    float: right;
}