<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/navbar.js"></script>


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/activity.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>
    
    <!-- 文章列表區塊 -->
    <div class="container-fluid d-flex justify-content-center">
            <div class="col-lg-8">
                <center>
                    <h3>限 時 活 動</h3>
                    <hr class="highlight">
                </center>
                <div class="activity">
                    <div class="title">
                        <h4 style="font-weight: bold;">是在哈摟</h4>
                        <hr>
                    </div>
                    <div class="content">
                        <p>
                            我不知道該回什麼 只好貼上乳酪蛋糕做法
    
                            自己做健康又好吃 準備所有材料
    
                            低筋麵粉過篩 奶油放入耐熱容器裡 隔水加熱使其融化
    
                            檸檬清洗乾淨外皮再刨絲及榨汁備用
    
                            先將奶油乳酪放置於室溫軟化
    
                            製作餅皮 餅乾放入較厚的食物袋中用桿麵棍敲碎
    
                            將融化的奶油稍微冷卻後備用
    
                            將奶油倒入餅乾袋裡 攪拌混合
    
                            倒入模型中 用杯子或湯匙等工具輕壓
                            用刀子沿著模型輕輕劃一圈 取下蛋糕即完成
    
                        </p>
                    </div>
                    <div class="tagDiv col-lg-12 ">
                        <button type="button" class="btn tag">安安</button>
                    </div>
                </div>
                <hr>
                <hr>
                <h5 style="font-weight: bold;">回應</h5>
                <div class="response">
                    <div class="info">
                        <div style="white-space:nowrap !important">
                            <a class="name">四十九座蓮花燈</a>
                            <a class="dateTime"> · 2019-12-06</a>
                        </div>
                    </div>
                    哈摟
                </div>
                <div class="response">
                    <div class="info">
                        <div style="white-space:nowrap !important">
                            <a class="name">楊涵涵</a>
                            <a class="dateTime"> · 2019-12-06</a>
                        </div>
                    </div>
                    哈摟
                </div>
                <div class="replying">
                    <div class="replyInput" id="replyInput" contenteditable="true" role="textbox" data-text="快來參與活動吧！">
                    </div>
                    <label class="btn btn-dark col-lg-2" style="cursor: pointer">
                        <input id="file-selector" type="file" multiple="multiple" accept=".jpg,.png,.gif,.tif,.bmp" />
                        <i class="fas fa-images" style="padding-right:5px"></i>加圖片
                    </label>
    
                    <button type="submit" class="btn btn-danger float-right submitReplyButton col-lg-2 shadow-none"
                        onclick="">提交</button>
                </div>
            </div>
        </div>
    
    
        <!-- 文章列表區塊結束 --> 
        <a href="#" id="gotop">
            <i class="fa fa-angle-up"></i>
        </a>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/active.js"></script>
    <!-- 收藏 ajax script -->

</body>

</html>