<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/article.css" rel="stylesheet" type="text/css" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>
    <div class="background">
        <h1>文章列表</h1>

        <!-- <div class="input-group     ">
            <input type="text" class="form-control search mx-auto" placeholder="搜尋tag、文章或作者"
                aria-label="Recipient's username" aria-describedby="button-addon2">

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
        </div> -->


        <!-- 使用者發文 -->

        <div class="container-fluid post">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-lg-10 content shadow">

                    <div class=" postArticle ">
                        <p class="title"><%= items.artiHead %>

                        </p>
                        <hr />
                        <div class="tagDiv col-lg-12 text-break ">

                            <a class="tag text-break " href="#"> 好玩</a>
                            <a class="tag text-break " href="#"> 好吃</a>
                            <a class="tag text-break " href="#"> 沖繩</a>
                            <a class="tag text-break " href="#"> 自駕遊</a>

                            <a class="tag text-break " href="#"> 有趣</a>
                            <a class="tag text-break " href="#"> 這個禮拜超開心</a>

                        </div>
                        <p class="content"> <%= items.artiCont %>
                        </p>
                        <p class="poster">
                            <a class="floorTag text-break ">樓主</a> 匿名 於 <%= items.artiDateTime %>發布
                        </p>
                    </div>
                    
                    <!-- info -->
                    <div class="info d-flex justify-content-between">
                        <div class="like">
                            <a>20個愛心</a>&nbsp;&nbsp;&nbsp;
                            <a>5個留言</a>&nbsp;&nbsp;&nbsp;
                            <a>收藏</a>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                        </div>

                        <div class="like">
                            檢舉
                        </div>
                    </div>
                    <!-- info結束 -->
                </div>
            </div>
            <!-- 使用者發文結束' -->
        </div>
        <center>
            <h1>文章留言</h1>

            <hr class="separate">
        </center>



        <!-- 文章留言 -->

        <div class="container-fluid ">


            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-lg-10 content">
                    <!-- 文章留言 -->
                    <div class=" message ">
                        <div class="tagDiv col-lg-12 text-break ">

                            <a class="tag text-break " href="#"> 哈哈哈哈ㄏ</a>

                        </div>

                        <p class="content"> 沖繩真的是最快能讓人感受到出國感的地方了！！ 距離台灣近機票又便宜 食物好吃又有大海跟日本味 <br />清明連假臨時跟朋友計畫了沖繩旅遊
                            沖繩就是這種可以很臨時的去也不會無聊的地方😂 <br /><br />我們這次是自駕旅遊 一下飛機就直接OTS的接駁車去我們的租車地點囉 Post
                            images<br /><br /> 每一次只要被親戚朋友發現 去！日！本！！！ 肯定會被抓著幫忙買一些保健食品巴拉巴拉的東西
                            我媽大嘴巴不小心在我要出國前兩天講了出去…於是我就有排山倒海而來的訂單了
                            還真的好險這次出國前有記得登錄國泰世華的3.5%的海外回饋 免稅+折扣+部分藥妝店達日幣兩萬可打八五折+刷卡回饋=最省的方式了！！ 因為我日幣沒有換太多
                            我是很怕帶現金在身上的人（而且誰知道會突然有一堆人跑出來要我幫買） Post images Day3 <br /><br />到了沖繩怎麼能不吃海鮮呢
                            我跟我朋友也計畫了一餐到牧治市場大吃特吃！ 牧治市場就在國際通裡面 這邊跟基隆漁港很像 可以挑選完後請餐廳幫忙烹煮（一樓市場挑選，二樓餐廳烹飪） 再給點烹飪費就可以囉！
                            <br /> <br /> 而且可能是觀光客多的關係 裡面的店員居然可以用很流利的中文對談 根本不用擔心不會日文欸
                        </p>
                        <p class="poster">
                            <a class="floorTag text-break ">1樓</a> 匿名 於 2019-04-30 14:23留言
                        </p>

                    </div>

                    <!-- info -->
                    <div class="info d-flex justify-content-between">
                        <div class="like">
                            <a>20個愛心</a>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                        </div>

                        <div class="like">
                            檢舉
                        </div>
                    </div>
                    <!-- info結束 -->
                </div>
            </div>
        </div>

        <!-- 文章留言結束 -->

        <!-- 文章留言 -->

        <div class="container-fluid ">


            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-lg-10 content">
                    <!-- 文章留言 -->
                    <div class=" message ">
                        <div class="tagDiv col-lg-12 text-break ">

                            <a class="tag text-break " href="#"> 好玩</a>
                            <a class="tag text-break " href="#"> 好吃</a>
                            <a class="tag text-break " href="#"> 沖繩</a>
                        </div>

                        <p class="content"> 沖繩真的是最快能讓人感受到出國感的地方了！！ 距離台灣近機票又便宜 食物好吃又有大海跟日本味 <br />清明連假臨時跟朋友計畫了沖繩旅遊
                            沖繩就是這種可以很臨時的去也不會無聊的地方😂 <br /><br />我們這次是自駕旅遊 一下飛機就直接OTS的接駁車去我們的租車地點囉 Post
                            images<br /><br /> 每一次只要被親戚朋友發現 去！日！本！！！ 肯定會被抓著幫忙買一些保健食品巴拉巴拉的東西
                            我媽大嘴巴不小心在我要出國前兩天講了出去…於是我就有排山倒海而來的訂單了
                            還真的好險這次出國前有記得登錄國泰世華的3.5%的海外回饋 免稅+折扣+部分藥妝店達日幣兩萬可打八五折+刷卡回饋=最省的方式了！！ 因為我日幣沒有換太多
                            我是很怕帶現金在身上的人（而且誰知道會突然有一堆人跑出來要我幫買） Post images Day3 <br /><br />到了沖繩怎麼能不吃海鮮呢
                            我跟我朋友也計畫了一餐到牧治市場大吃特吃！ 牧治市場就在國際通裡面 這邊跟基隆漁港很像 可以挑選完後請餐廳幫忙烹煮（一樓市場挑選，二樓餐廳烹飪） 再給點烹飪費就可以囉！
                            <br /> <br /> 而且可能是觀光客多的關係 裡面的店員居然可以用很流利的中文對談 根本不用擔心不會日文欸
                        </p>
                        <p class="poster">
                            <a class="floorTag text-break ">2樓</a> 匿名 於 2019-04-30 14:23留言
                        </p>

                    </div>

                    <!-- info -->
                    <div class=" info d-flex justify-content-between">
                        <div class="like">
                            <a>20個愛心</a>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                        </div>

                        <div class="like">
                            檢舉
                        </div>
                    </div>
                    <!-- info結束 -->
                </div>

                <!-- 文章留言結束 -->

                <div class="col-sm-1"></div>
            </div>
        </div>



        <!-- replying -->

        <div class="container-fluid replying">


            <div class="row " id="reply">
                <div class="col-sm-1"></div>
                <div class="col-lg-10 content">
                    <div class="input">
                        <textarea class="input" col="40" id="text" placeholder="輸入您要回覆的內容"></textarea>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </form>
                    <a href="#" class="btn btn-secondary btn-lg active float-md-right" role="button"
                        aria-pressed="true">發佈留言</a>

                </div>

                <div class="col-sm-1"></div>

            </div>
        </div>
        <!-- replying end -->

        <a href="https://www.blogger.com/blogger.g?blogID=2031514508322140995#" id="gotop">
            <i class="fa fa-angle-up"></i>
        </a>

        <div class="footer fixed-bottom">
            <a class="footer-item" href="#" id="goBottom"> 去留言</a>
            <a class="footer-item" href="#"> 愛心</a>
            <a class="footer-item" href="#"> 收藏</a>
        </div>

    </div>
    </div>
    </div>


</body>

</html>