<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/navbar.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/articleList.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>


    <!-- 文章列表區塊 -->
    <section id="articleList">
        <div class="container-fluid article">
            <center>
                <h2>文章列表</h2>
                <hr class="highlight">
            </center>

            <div class="row d-flex justify-content-center">

                <div class="search col-12 d-flex justify-content-center">
                    <!-- Search -->
                    <form class="form-inline d-flex">

                        <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 search" id="search"
                            placeholder="輸入欲搜尋之關鍵字">
                        <button type="submit" class="search btn-primary mx-auto ">搜尋</button>
                    </form>

                    <!-- Search End -->
                </div>
                <!-- list -->
                <div class="col-12 mb-3 col-lg-10 ">
                    <% for(var i=0; i<items.length; i++) {%>
                    <div class="card shadow list " onclick="location.href='/article/<%= items[i].artiNum %>' "
                        style="cursor:pointer;">
                        <div class="card-body ">
                            <h3 class="card-title "><%= items[i].artiHead %>
                            </h3>
                            <p class="card-text "><%= items[i].artiCont %>
                            </p>
                            <p class="poster ">
                                <a class="floorTag text-break ">樓主</a> 匿名 於 <%= items[i].artiDateTime %>發佈
                            </p>
                            <div class="tagDiv col-lg-12 text-break ">
                                <a class="tag text-break " href="# "> 可愛</a>
                                <a class="tag text-break " href="# "> 皮卡丘</a>
                                <a class="tag text-break " href="# "> 皮卡丘</a>
                                <a class="tag text-break " href="# "> 皮卡丘</a>
                                <a class="tag text-break " href="# "> 皮卡丘</a>
                                <a class="tag text-break " href="# "> 有毛的</a>
                                <a class="tag text-break " href="# "> 萌</a>
                            </div>
                        </div>
                        <!-- <div class="wrapperCard card-img-top " style="background-image: url( 'imgs/testImgs/15.jpg'); ">
                        </div> -->
                    </div>
                    <% } %>

                    <!-- listEnd -->
                </div>

            </div>


        </div>
    </section>
    <!-- 文章列表區塊結束 -->


    <div class=" buttons fixed-bottom  d-flex justify-content-center align-middle">
        <button type="button " class="btn btn-secondary footer">所有分類</button>
        <button type="button " class="btn btn-secondary align-middle footer">電影類</button>
        <button type="button " class="btn btn-secondary align-middle footer">音樂類</button>
        <button type="button " class="btn btn-secondary align-middle footer">書籍類</button>
        <button type="button " class="btn btn-secondary align-middle footer">展覽類</button>

    </div>

    <div class="container-fluid footer ">
        <p>聯絡我們：10546004@ntub.edu.tw
        </p>
        <p>©2018 NTUB</p>

    </div>

    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/javascripts/active.js"></script>
</body>

</html>