<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/collection.css" rel="stylesheet" type="text/css" />
    <!-- jQuery Script -->
    <script src="/javascripts/jquery.min.js"></script>
    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>
    <div class="background">
        <h1>我的收藏</h1>

        <div class="container-fluid  ">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-lg-10 content">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>

                            <tr>
                                <th>
                                    <p class="title"> 泰好買！一個人去曼谷
                                    </p>
                                    <p class="content"> 當初也有發普吉島的文 發出去才發現名字沒有換😂😂😂 如果....
                                    </p>

                                    <div class="d-flex justify-content-between">

                                        <div class="like">
                                            20個愛心
                                        </div>
                                        <div class="message">
                                            5個留言
                                        </div>
                                        <div class="datetime ">
                                            2019-04-30 </div>
                                    </div>
                                </th>

                            </tr>



                        </tbody>
                    </table>
                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
    </div>
    </div>






    <!-- Optional JavaScript -->
    <script src="/javascripts/navbar.js"></script>
</body>

</html>