<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/active.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/recommend.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>

    <center>
        <h3>推薦收藏</h3>
        <hr class="highlight">
    </center>


    <!-- Portfolio Section -->
    <section id="portfolio">

        <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend ">
            <div class="search col-lg-6 mx-auto ">
                <!-- Search -->
                <form class="form-inline d-flex">
                    <input type="text" class="form-control search col-sm-9" id="search" placeholder="輸入欲搜尋之關鍵字">
                    <button type="submit" class="search btn-primary mx-auto">搜尋</button>
                </form>
                <!-- Search End -->
            </div>
            <div class="w-100"></div>


            <!-- 收藏區塊 -->
            <% for(var i=0; i<items.length; i++) {%>
            <div class="wrapper col-12  col-lg-2" style="background-image: url('/imgs/recommend/movie1.jpg');">

                <a class="portfolio-box" onclick="location.href='/collection/recommend/one/<%= items[i].recomNum %>'">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p><%= items[i].recomClass %></p>
                        </div>
                        <div class="project-name">
                            <p class="title"><%= items[i].recomHead %></p>
                            <p class="content"><%= items[i].recomCont %>
                            </p>
                        </div>
                    </div>
                </a>

            </div>
            <% if( (i+1) % 4 == 0){ %>
            <div class="w-100"></div>
            <% } %>
            <% } %>
            <!-- 收藏區塊結束 -->
        </div>
        <div class="w-100"></div>
    </section>





    <div class=" buttons fixed-bottom  d-flex justify-content-center align-middle">
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/recommend/movie'">電影類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/recommend/music'">音樂類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/recommend/book'">書籍類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/recommend/exhibition'">展覽類</button>
        <button type="button " class="btn btn-secondary footer"
            onclick="location.href='/collection/recommend'">全部</button>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/javascripts/active.js"></script>
</body>

</html>