<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/recommend.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>
    <center>
        <h3>推薦收藏</h3>
        <hr class="highlight">
    </center>


    <!-- Portfolio Section -->
    <section id="portfolio">

            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link " href="/collection/recommend" tabindex="-1">推薦收藏</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="/collection/article">文章收藏</a>
                </li>
            </ul>


            <div class="row d-flex justify-content-center">
        <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">
            <div class="search col-lg-5 mx-auto">
                <!-- Search -->
                <form class="form-inline d-flex">
                    <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0 search col-sm-10" id="search" placeholder="輸入欲搜尋之關鍵字">
                    <button type="submit" class="search btn-primary mx-auto col-sm-3">搜尋</button>
                </form>
                <!-- Search End -->
            </div>
            <div class="w-100"></div>

            <!-- 電影類推薦 -->

            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/recommend/movie1.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>電影類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">幸福綠皮書</p>
                            <p class="content">改編自真人實事，描述60年代知名黑人鋼琴家唐薛利和他僱用的義裔司機兼保鑣大嘴東尼， 到美國深南部（Deep South）巡迴演出的公路故事。</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 電影類推薦結束 -->

                <div class="col-12 mb-3 col-lg-10 ">
                    <% for(var i=0; i<items.length; i++) {%>
                    <div class="card shadow list " onclick="location.href='#' ">

                        <div class="card-body ">
                            <h3 class="card-title "><%= items[i].artiHead %>
                            </h3>
                            <p class="card-text "><%= items[i].artiCont %>
                            </p>
                            <p class="poster ">
                                <a class="floorTag text-break ">樓主</a> 匿名 於 <%= items[i].artiDateTime %> 發佈
                            </p>
                            <div class="tagDiv col-lg-12 text-break ">
                                <a class="tag text-break " href="# "> 可愛</a>
                                <a class="tag text-break " href="# "> 皮卡丘</a>
                                <a class="tag text-break " href="# "> 皮卡丘</a>

            <div class="wrapper  col-12  col-lg-2" style="background-image: url('imgs/testImgs/11.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>電影類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">黑色名冊</p>
                            <p class="content">《黑色名冊》，是一部2006年的電影，由保羅·范霍文執導，范氏跟葛拉·索德曼編劇。故事是由真人真事啟發，講述了第二次世界大戰末時一名荷蘭猶太人女子在納粹軍中當臥底的經歷。 </p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 音樂類推薦結束 -->
            <!-- 書籍類推薦 -->

            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/testImgs/18.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>展覽類</p>
                        </div>

                        <div class="wrapperCard card-img-top "
                            style="background-image: url( '/imgs/testImgs/15.jpg'); ">
                        </div>
                    </div>
                    <% } %>
                </div>


            </div>
            <!-- 展覽類推薦結束 -->
            <div class="w-100"></div>
    </section>

        </div>


    </div>


    </div>



    <div class=" buttons fixed-bottom  d-flex justify-content-center align-middle">
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article'">所有分類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/movie'">電影類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/music'">音樂類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/book'">書籍類</button>
        <button type="button " class="btn btn-secondary align-middle footer"
            onclick="location.href='/collection/article/exhibition'">展覽類</button>

    </div>



    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/javascripts/active.js"></script>
</body>

</html>