<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/post.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>

    <center>
        <h3>編輯留言</h3>
        <hr class="highlight">
    </center>
    <section id="editReply">
    <div class="justify-content-center">
        <div class="post col-lg-8 content shadow">

            <div class="replyInput" id="replyInput" contenteditable="true" role="textbox" data-text="請輸入回覆內容">
                <%- items[0][0].artiMessCont%>
            </div>

            <!-- <div class="text-right"> -->
            <label class="btn btn-dark col-lg-2" style="cursor: pointer">
                <input id="file-selector" name="userImg" type="file" multiple="multiple"
                    accept=".jpg,.png,.gif,.tif,.bmp" />
                <i class="fas fa-images" style="padding-right:5px"></i>加圖片
            </label>
            <!-- </div> -->
            <button type="submit" class="btn btn-danger col-lg-2 float-right submitReplyButton" onclick=<%= "submitEditReply(" + items[0][0].artiNum + ")" %>>提交</button>

            <!-- <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
            </div> -->
            <div class='coverContainer'>
                    <div class='loader'>
                        <div class='loader--dot'></div>
                        <div class='loader--dot'></div>
                        <div class='loader--dot'></div>
                        <div class='loader--dot'></div>
                        <div class='loader--dot'></div>
                        <div class='loader--dot'></div>
                        <div class='loader--text'></div>
                    </div>
                </div>
                
            <script src="/javascripts/imageCompression.js"></script>
            <script>
                var imgs = [];
                var toBase64 = []
                var formData = new FormData(); //用formData來存取要傳送的所有資料
                // 選取到檔案後開始動作
                $('#file-selector').change(function(event) {
                    let timeStamp = new Date().getTime()
                    var file = $("#file-selector")[0];  //取得檔案
                    //如果有檔案就要加入formData
                    if (file.files.length) {
                        Object.keys(file.files).map((img, index) => {
                            file.files[img].timeStamp = `${timeStamp}${index}`
                            imgs.push(file.files[img])
                            // 解析檔案
                            var item = file.files[img]
                            var reader = new FileReader();
                            reader.onload = (function(item) {
                                return function(event) {
                                    var src = event.target.result // 圖片的編碼 , 格式為base64
                                    var title = escape(file.name);
                                    var img = '<img class="upload-img" src="' + src + '" title="' + title + '" key="' + `${timeStamp}${index}` + '"/> ';
                                    $('#replyInput').append('<div id="replyInput">' + img + '</div>');
                                };
                            })(file);
                            reader.readAsDataURL(item);
                        })
                        $('#file-selector').val('')
                    }
                });
        function submitEditReply(artiNum) {
            var templateCont = document.getElementById('replyInput').innerHTML.replace(/&nbsp;/g, '').replace(/&ensp;/g, '').replace(/&emsp;/g, '').replace(/<br>/g, '').trim()
            if (templateCont == '') {
                alert('請輸入內文')
                return;
            }
            var artiMessNum ='<%= items[0][0].artiMessNum%>'
            var remainImg = []
            $('.submitReplyButton').addClass('disabled')
            $('.submitReplyButton').attr('disabled', true)
            $('.spinner-border').css('display', 'block')
            $('.coverContainer').css('display', 'block')


            if ($("#replyInput > .original")) {
                Array.from($("#replyInput").find('.original > img')).map((img) => {
                    $(img).before("\\:imgLocation")
                    remainImg.push(img.getAttribute('src'))
                })
            }

            var imgKey = []
            if ($("#replyInput").find("#replyInput > img")) {
                Array.from($("#replyInput").find("#replyInput > img")).map((img) => {
                    imgKey.push(img.getAttribute('key'))
                    toBase64.push(img.getAttribute('src'))
                })
                imgs.map((img) => {
                    if (imgKey.indexOf(img.timeStamp) >= 0) {
                        formData.append('userImg', img);
                        var base64Index = toBase64[imgKey.indexOf(img.timeStamp)]
                        formData.append('base64Index', base64Index);
                    }
                })
                Array.from($("#replyInput").find("#replyInput > img")).forEach((img) => {
                    $(img).before("\\:imgLocation")
                })
            }
            var replyCont = [];
            var replyData = document.querySelectorAll("div.replyInput"); //只取得文字部分(不含圖片) ;
            // 取得內容
            replyData.forEach(function (element) {
                replyCont.push(element.innerText);
            }, this);
            formData.append('replyCont', replyCont);
            $.ajax({
                url: 'https://analyze405.herokuapp.com/sentimentAnalyze/',
                type: 'POST',
                dataType: 'TEXT',
                data: { 'artiCont': `${replyCont}` },
                success: function (res) {
                    var analyzeRes = JSON.parse(res)
                    var analyzeScore = analyzeRes.analyze[0]
                    var positiveWords = analyzeRes.analyze[1]
                    var negativeWords = analyzeRes.analyze[2]
                    var swearWords = analyzeRes.analyze[3]
                    var score2 = analyzeRes.analyze[4]
                    console.log(score2)
                    formData.append('analyzeScore', analyzeScore);
                    formData.append('positiveWords', positiveWords);
                    formData.append('negativeWords', negativeWords);
                    formData.append('swearWords', swearWords);
                    formData.append('artiNum', artiNum);
                    formData.append('artiMessNum', artiMessNum);
                    formData.append('editReply', true);
                    formData.append('remainImg', remainImg);
                    formData.append('score2', score2);
                    $.ajax({
                        url: '/article/reply',
                        type: 'POST',
                        dataType: 'TEXT',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            if (res == "請進行登入") {
                                alert(res);
                                location.replace("/logIn");
                            } else {
                                alert(res);
                                location.replace(`/article/${artiNum}`);
                            }
                        },
                        error: function (res) {
                            alert("哎呀，出現錯誤");
                        }
                    });
                },
                error: function (res) {
                    console.error(res)
                }
            });
        }
            </script>


        </div>
    </div>
</section>


    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>


    <script>
        var tagArray = []
        var classSelected = '<%= items[0][0].artiClass%>'
        $('.deleteTag').click(function() {
            $(this).parent('#tag').remove()
        })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/javascripts/post.js"></script>
    <script src="/javascripts/tag.js"></script>
    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/navbar.js"></script>

</body>

</html>