<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/member.css" rel="stylesheet" type="text/css" />

    <!-- jQuery Script -->
    <script src="/javascripts/jquery.min.js"></script>

    <title>文藝富心</title>
</head>

<body>

    <script src="scripts/header.js"></script>

    <div class="background">
        <h1>文藝富心</h2>
            <div class="login">
                <button type="button" class="btn btn-danger">Gmail登入</button>

                <button type="button" class="btn btn-primary">Facebook登入</button>

            </div>
    </div>







</body>

</html>