<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/post.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>

    <script src="/javascripts/header.js"></script>
    <center>
        <h3>發佈貼文</h3>
        <hr class="highlight">
    </center>
    <div class="justify-content-center">
        <div class="post col-lg-8 content shadow">
            <select id="inputState" class="form-control" onchange="styleselect()">
                <option value="1">電影類</option>
                <option value="2">音樂類</option>
                <option value="3">展覽類</option>
                <option value="4">書籍類</option>
            </select>

            <div class="titleInput input-with-icon title" contenteditable="true" role="textbox" data-text="請輸入您的標題"></div>
            <div id="postInput" class="postInput" contenteditable="true" role="textbox" data-text="請輸入您的發文內容"></div>

<<<<<<< HEAD:views/post.ejs
        <div class="col-lg-8 content">
            <form class="post" action="/article/post" method="post" enctype="multipart/form-data">
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-heading"></span></span>
                    <input type="text" class="input-with-icon title" name="artiHead" placeholder="輸入您的標題">
                </div>
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fas fa-file-alt"></span></span>
                    <textarea class="input-with-icon input" id="textarea" name="artiCont"
                        placeholder="輸入您的內文"></textarea>
=======
            <div class="tag content col-lg-12">
                <input type="text" data-role="tagsinput" id="tagInput" class="form-control" placeholder=" + tag" />
            </div>
>>>>>>> fc465ee4b0071ee0a2795e974fe341730a27a778:post.html


<<<<<<< HEAD:views/post.ejs
                <select id="inputState" class="form-control" name="artiClass">
                    <option value="movie">電影類</option>
                    <option value="music">音樂類</option>
                    <option value="exhibition">展覽類</option>
                    <option value="book">書籍類</option>
                </select>

                <br>
                <input type="file" class="form-control-file" id="imgSel" name="userImg">



                <button type="submit" class="btn btn-secondary float-md-right">發佈文章</button>
            </form>
=======




            <label class="btn btn-dark" style="cursor: pointer">
            <input id="file-selector" type="file" multiple="multiple" accept=".jpg,.png,.gif,.tif,.bmp"/>
            <i class="fas fa-images" style="padding-right:5px"></i>上傳圖片
            </label>
>>>>>>> fc465ee4b0071ee0a2795e974fe341730a27a778:post.html

            <button type="submit" class="btn btn-danger float-right submitReply">提交回覆</button>



        </div>
    </div>



    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/form.js"></script>
</body>

</html>