<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/recommend.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- ============================================= -->
    <!-- --------------- navbar ---------------------- -->
    <!-- ============================================= -->
    <div class="header">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top ">
            <a class="nav-link" href="/">
                <img class="nav-item" href="/" src="/imgs/logo.png" width="30px" height="30px " style="opacity:0.8"
                    alt="">
                <a href="/" class="navTitle">文藝富心</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- 如果帳號不是管理員則不顯示 -->
                    <% if(recom[2] == undefined){ %>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="recommendPost.html">
                            新增推薦</a>
                    </li>
                    <!-- 如果帳號是一般會員 -->
                    <% }else {%>
                    <li class="nav-item">
                        <a class="nav-link" href="recommendPost.html">
                            新增推薦</a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link " href="/">首頁 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/notify">
                            <i class="fas fa-bell" style="color:white;"></i>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/recommendlist">
                            推薦</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/articleList">
                            文章</a>
                    </li>
                    <li id="dropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="collectionArticle.html" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            收藏
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/collection/recommend">推薦收藏</a>
                            <a class="dropdown-item" href="/collection/article">文章收藏</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navReport" style="cursor:pointer;">申報</a>
                    </li>
                    <!-- 已經登入的話 login 隱藏 -->
                    <% if(recom[1][0] != undefined){ %>
                    <li class="nav-item" style="display: none">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                    <!-- 如果還沒登入 login 顯示 -->
                    <% }else {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                    <% } %>
                    <!-- 已經登入的話"會員"下拉式清單 顯示 -->
                    <% if(recom[1][0] != undefined){ %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="memberManage.html" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            會員
                        </a>
                        <div class="dropdown-menu member dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/member/memberManage">會員資料</a>
                            <a class="dropdown-item" href="/member/articleManage">文章管理</a>
                            <a class="dropdown-item" href="/logOut">登出</a>
                        </div>
                    </li>
                    <!-- 如果還沒登入則隱藏"會員"清單 -->
                    <% }else {%>
                    <li class="nav-item dropdown" style="display: none">
                        <a class="nav-link dropdown-toggle" href="memberManage.html" id="navbarDropdownMenuLink"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            會員
                        </a>
                        <div class="dropdown-menu member dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/member/memberManage">會員資料</a>
                            <a class="dropdown-item" href="/member/articleManage">文章管理</a>
                            <a class="dropdown-item" href="/logOut">登出</a>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container position-fixed col-lg-8 report" id="report">
        <div id="x"><i class="far fa-times-circle"></i>
        </div>
        <div class="form">
            <form class="report" action="/report" method="POST" data-aos="zoom-out-right">
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-hands-helping"></span></span>
                    <textarea class="input-with-icon report" name="reportReason" placeholder="輸入舉報原因"></textarea>
                </div>
                <button type="submit" class="btn btn-danger report">送出</button>
            </form>
        </div>
    </div>

    <!-- ============================================= -->
    <!-- ------------- navbar end -------------------- -->
    <!-- ============================================= -->

    <center>
        <h3>推薦列表</h3>
        <hr class="highlight">
    </center>


    <!-- Portfolio Section -->
    <section id="portfolio">

        <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend">

            <div class="search col-lg-6 mx-auto ">
                <!-- Search -->
                <form class="form-inline d-flex">
                    <input type="text" class="form-control search col-sm-9" id="search" placeholder="輸入欲搜尋之關鍵字">
                    <button type="submit" class="search btn-primary mx-auto">搜尋</button>
                </form>
                <!-- Search End -->
            </div>
            <div class="w-100"></div>


            <!-- 推薦開始 -->
            <% for(var i = 0 ; i<recom[0].length ; i++){ %>
            <div class="wrapper col-12  col-lg-2" style="background-image: url('/imgs/recommend/movie1.jpg');">
                <a class="portfolio-box" href="/oneRecommend/<%= recom[0][i].recomNum %>">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p><%= recom[0][i].recomClass %> </p>
                        </div>
                        <div class="project-name">
                            <p class="title"><%= recom[0][i].recomHead %></p>
                            <p class="content"><%= recom[0][i].recomCont %></p>
                        </div>
                    </div>
                </a>
            </div>
            <% if( (i+1) % 4 == 0){ %>
            <div class="w-100"></div>
            <% } %>
            <% } %>
            <!-- 推薦結束 -->
    </section>

    <div class="fixed-bottom  d-flex justify-content-center">
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/movie'">電影類</button>
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/music'">音樂類</button>
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/book'">書籍類</button>
        <button type="button" class="btn btn-secondary footer"
            onclick="location.href='/recommendList/exhibition'">展覽類</button>
        <button type="button" class="btn btn-secondary footer" onclick="location.href='/recommendList'">全部</button>

    </div>



    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/javascripts/active.js"></script>
</body>

</html>