<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/logIn.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>

    <center>
        <h3>註冊</h3>
        <hr class="highlight">
    </center>
    <section id="signUp">
        <div class="container-fluid row flex justify-content-center signUp no-gutters">
            <form class="signUp col-lg-4" action="/signUp/add" method="post" onchange="checkValue()">
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fa fa-user"></span></span>
                    <input type="text" class="input-with-icon" id="ID" name="memID" placeholder="帳號" required
                        onchange="idValidateForm()">
                </div>
                <p id="idAlarm"></p>
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-user-circle"></span></span>
                    <input type="text" class="input-with-icon" id="closeId" name="memName" placeholder="暱稱（註冊成功後不得修改）"
                        required onchange="closeIdValidateForm()">
                </div>
                <p id="closeIdAlarm"></p>

                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-lock"></span></span>
                    <input type="password" class="input-with-icon" id="password" name="memPass" placeholder="密碼"
                        required onchange="passcheck()">
                </div>
                <p id="passwordAlarm"></p>

                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-lock"></span></span>
                    <input type="password" class="input-with-icon" id="checkPassword" name="memCheckPass"
                        placeholder="確認密碼" required onchange="passcheck()">
                </div>
                <p id="checkPasswordAlarm"></p>

                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-envelope-open-text"></span></span>
                    <input type="email" class="input-with-icon" id="email" name="memMail" placeholder="email" required>
                </div>


                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-birthday-cake"></span></span>
                    <input type="date" class="input-with-icon" id="birthday" name="memBirth" placeholder="生日" required
                        onchange="birthdayValidateForm()">
                </div>
                <p id="birthdayAlarm"></p>

                <div class="input-icon-wrap radio">
                    <span class="input-icon align-middle"><span class="fas fa-venus-mars"></span></span>
                    <div>
                        <input id="radio-1" class="radio-custom" name="memGender" value="m" type="radio" required>
                        <label for="radio-1" class="radio-custom-label">男生</label>
                    </div>
                    <div>
                        <input id="radio-2" class="radio-custom" name="memGender" value="f" required>
                        <label for="radio-2" class="radio-custom-label">女生</label>
                    </div>

                </div>
                <button type="submit" id="submit" class="btn btn-danger" disabled>註冊</button>
            </form>

        </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="/javascripts/active.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/navbar.js"></script>

</body>

</html>