<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javacripts/active.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/signin.css" rel="stylesheet" type="text/css" />

    <title>文藝富心</title>
</head>

<body>
    <script src="/javascripts/header.js"></script>

    <section id="signUp">
        <div class=" row d-flex justify-content-center">
            <div class="col-md-3 signUp">
                <form>
                    <div class="form">
                        <h5> 帳號
                        </h5>
                        <input type="text">
                        <h5> 密碼
                        </h5>
                        <input type="password">
                        <h5> 確認密碼
                        </h5>
                        <input type="password">
                        <h5> 住址
                        </h5>
                        <input class="address" type="text">

                        <h5>性別：
                            <input class="gender" name="gender" type="radio" value="M" />男性
                            <input class="gender" name="gender" type="radio" value="F" />女性
                        </h5>
                        <h5>生日： <input type="date">
                        </h5>


                </form>

                <button type="submit" class="btn btn-danger">註冊</button>
            </div>



        </div>
        </div>
    </section>
 
</body>

</html>