<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javacripts/active.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/signIn.css" rel="stylesheet" type="text/css" />

    <title>文藝富心</title>
</head>

<body>
    <script src="/javascripts/header.js"></script>
    <section id="signIn">

        <div class="container-fluid row flex justify-content-center signIn">
            <div class="container-fluid">
                <center>
                    <h2>登入</h2>
                    <hr class="highlight">

                </center>
            </div>
            <form class="signIn col-12-5" action="/login" method="post">
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fa fa-user"></span></span>
                    <input type="text" class="input-with-icon" id="ID" name="memID" placeholder="帳號">
                </div>
                <div class="input-icon-wrap">
                    <span class="input-icon"><span class="fas fa-lock"></span></span>
                    <input type="password" class="input-with-icon" id="password" name="memPass" placeholder="密碼">
                </div>
                <button type="submit" class="btn btn-secondary login">登入</button>
                <button type="button" class="btn btn-light right">忘記密碼</button>

                <button type="button" class="btn btn-light right" onclick="location.href='/signUp'">註冊</button>


            </form>

            <div class="container-fluid row flex justify-content-center ">
                <div class="col-12-5 third">
                    <center>
                        <h4>第三方登入或註冊</h4>
                        <hr class="highlight">
                        <button type="button" class="btn btn-danger third">Gmail登入或註冊</button>
                        <button type="button" class="btn btn-primary third">Facebook登入或註冊</button>
                    </center>

                </div>
            </div>

        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="/javascripts/active.js "></script>

</body>

</html>