<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/specialColumn.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="contain">
                <center>
                    <h3 class="title">生活在藝術中的女孩—MAR2INA 夢裡那兔</h3>
                    <p> 2019-12-12 </p>
                </center>
                <p class="content">
                    MAR2INA發想源自於德文人名"marina"　
                    意指為大海的女人，也具有藝術天分、喜愛色彩及細心謹慎的含義在裡頭。
                    唸的順序是MARINA 2，中文音譯：夢裡那兔
                    會將2加在名字中間代表著核心，它象徵著自己的幸運數字、生日以及兔的發音。
                    因為水彩創作上的意外，發展出一套特有的明暗上色技法，紋理會隨著我當下心情、及環境影響而變化。

                    構圖、配色都能了解我的情緒、思想、故事
                    我喜歡讓每個觀賞者在我的作品前停下腳步
                    細細品嘗畫面中的每個角落。
                    <img src="imgs/background/sp.jpg" alt="">
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="/javascripts/active.js "></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/imageCompression.js"></script>
    <script>
        var member = '<%=items[7][0]%>'
        $('.postReport,.replyReport').click(() => {
            if (!member) {
                alert('請進行登入再檢舉！')
                location.replace("/logIn");
            }
        })
        $('#replyInput').click(() => {
            if (!member) {
                alert('請進行登入再留言！')
                location.replace("/logIn");
            }
            var el = document.querySelector('#replyInput');
            var range = document.createRange();
            var sel = window.getSelection();
            if (sel.focusNode.previousElementSibling.className == 'upload-img' || sel.focusNode.nextElementSibling.className == 'upload-img') {
                range.setStart(el.lastChild, 0);
                range.collapse(true);
                sel.removeAllRanges();
                sel.addRange(range);
            }
        })
        var formData = new FormData(); //用formData來存取要傳送的所有資料
        // 選取到檔案後開始動作
        $('#file-selector').change(function (event) {
            let timeStamp = new Date().getTime()
            var file = $("#file-selector")[0];  //取得檔案
            //如果有檔案就要加入formData
            if (file.files.length) {
                Object.keys(file.files).map((img, index) => {
                    // 解析檔案
                    var item = file.files[img]
                    var reader = new FileReader();
                    reader.onload = (function (item) {
                        return async function (event) {
                            var getSize = getOriginalSize(event.target.result)
                            getSize.then(function (size) {
                                var canvasUrl = drawToCanvas(event.target.result, size.originWidth, size.originHeight)
                                canvasUrl.then(function (strDataURI) {
                                    var title = escape(file.name);
                                    var img = '<img class="upload-img" src="' + strDataURI + '" title="' + title + '"/> ';
                                    $('#replyInput').append(img);
                                    $('#replyInput').append('<span id="lastbr"></span><br /><br />');
                                    var el = document.querySelector('#replyInput');
                                    var range = document.createRange();
                                    var sel = window.getSelection();
                                    range.setStart(el.lastChild, 0);
                                    range.collapse(true);
                                    sel.removeAllRanges();
                                    sel.addRange(range);
                                }, (e) => {
                                    console.log(e)
                                })
                            })
                        };
                    })(file);
                    reader.readAsDataURL(item);
                })
                $('#file-selector').val('')
            }
        });
        function submitReply(artiNum) {
            var templateCont = document.getElementById('replyInput').innerHTML.replace(/&nbsp;/g, '').replace(/&ensp;/g, '').replace(/&emsp;/g, '').replace(/<br>/g, '').trim()
            if (templateCont == '') {
                alert('請輸入回覆內容！')
                return;
            }
            $('.submitReplyButton').addClass('disabled')
            $('.submitReplyButton').attr('disabled', true)
            $('.spinner-border').css('display', 'block')
            $('.coverContainer').css('display', 'block')

            if ($("#replyInput").find("img")) {
                Array.from($("#replyInput").find("img")).map((img) => {
                    formData.append('base64Index', img.getAttribute('src'));
                    $(img).before("\\:imgLocation")
                })
            }
            formData.append('artiNum', artiNum);
            var replyCont = [];
            var replyData = document.querySelectorAll("div.replyInput"); //只取得文字部分(不含圖片) ;
            // 取得內容
            replyData.forEach(function (element) {
                replyCont.push(element.innerText);
            }, this);
            formData.append('replyCont', replyCont);
            $.ajax({
                url: 'https://analyze405.herokuapp.com/sentimentAnalyze/',
                type: 'POST',
                dataType: 'TEXT',
                data: { 'artiCont': `${replyCont}` },
                success: function (res) {
                    var analyzeRes = JSON.parse(res)
                    formData.append('analyzeScore', analyzeRes.analyze[0]);
                    formData.append('positiveWords', analyzeRes.analyze[1]);
                    formData.append('negativeWords', analyzeRes.analyze[2]);
                    formData.append('swearWords', analyzeRes.analyze[3]);
                    formData.append('score2', analyzeRes.analyze[4]);
                    $.ajax({
                        url: '/article/reply',
                        type: 'POST',
                        dataType: 'TEXT',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            if (res == "請進行登入") {
                                alert(res);
                                location.replace("/logIn");
                            } else if (res == "留言成功") {
                                alert(res);
                                location.reload();
                            } else {
                                alert('哎呀，出現錯誤')
                            }
                        },
                        error: function (res) {
                            console.log("哎呀，出現錯誤", res);
                        }
                    });
                },
                error: function (res) {
                    console.error(res)
                }
            });
        }
    </script>
    <script src="/javascripts/post.js"></script>

    <!-- 收藏 ajax script  -->
    <script>
        $('button').click(function () {
            if ($(this).children('.fa-gratipay').length > 0) {
                $(this).parent('div').find('.fa-gratipay').parent('button').attr('disabled', true)
                setTimeout(() => {
                    $('button').attr('disabled', false)
                }, 1000)
            }
        })
        //新增收藏
        function addColle(artiNum) {
            collection();
            $.ajax({
                url: '/addCollection',
                type: 'POST',
                dataType: 'JSON',
                data: { "likeType": "article", "artiNum": artiNum },
                success: function (res) {
                },
                error: function (res) {
                    console.log("失敗", JSON.stringify(res));
                }
            });
        };
        //刪除收藏
        function delColle(artiNum) {
            cancelCollection();
            $.ajax({
                url: '/delCollection',
                type: 'POST',
                dataType: 'JSON',
                data: { "likeType": "article", "artiNum": artiNum },
                success: function (res) {
                },
                error: function (res) {
                    console.log("失敗", JSON.stringify(res));
                }
            });
        };
        //點收藏後改變屬性
        function collection() {
            document.getElementById("delColle").style.display = "inline";
            document.getElementById("unLogIn").style.display = "none";
            document.getElementById("addColle").style.display = "none";
        }
        //取消收藏後改變屬性
        function cancelCollection() {
            document.getElementById("addColle").style.display = "inline";
            document.getElementById("unLogIn").style.display = "none";
            document.getElementById("delColle").style.display = "none";
        }
    </script>

    <!-- 愛心 ajax script -->
    <script>
        //新增愛心
        function addLike(artiNum) {
            $.ajax({
                url: '/addLike',
                type: 'POST',
                dataType: 'text',
                data: { "likeType": "article", "artiNum": artiNum },
                success: function (res) {
                    likeCount(artiNum);
                    like();
                },
                error: function (res) {
                    console.log("失敗", res);

                }
            });

        };
        //刪除愛心
        function delLike(artiNum) {
            $.ajax({
                url: '/delLike',
                type: 'POST',
                dataType: 'text',
                data: { "likeType": "article", "artiNum": artiNum },
                success: function (res) {
                    likeCount(artiNum);
                    cancelLike();
                },
                error: function (res) {
                    console.log("刪除失敗", JSON.stringify(res));
                }
            });

        };
        //點愛心後改變屬性
        function like() {
            document.getElementById("delLike").style.display = "inline";
            document.getElementById("LikeUnLogIn").style.display = "none";
            document.getElementById("addLike").style.display = "none";
        }
        //取消愛心後改變屬性
        function cancelLike() {
            document.getElementById("addLike").style.display = "inline";
            document.getElementById("LikeUnLogIn").style.display = "none";
            document.getElementById("delLike").style.display = "none";
        }
        function likeCount(artiNum) {
            $.ajax({
                url: '/likeCount',
                type: 'POST',
                dataType: 'JSON',
                data: { "likeType": "article", "artiNum": artiNum },
                success: function (res) {
                    document.getElementById("addLikeCount").innerHTML = JSON.stringify(res);
                    document.getElementById("delLikeCount").innerHTML = JSON.stringify(res);
                },
                error: function (res) {
                    console.log("失敗", JSON.stringify(res));
                }

            });
        }
        // =========================
        // ------ 留言新增愛心 ------
        // =========================
        //增加留言愛心
        function MessAddLike(artiNum, artiMessNum) {
            $.ajax({
                url: '/addLike',
                type: 'POST',
                dataType: 'JSON',
                data: { "likeType": "articleMess", "artiMessNum": artiMessNum, "artiNum": artiNum },
                success: function (res) {
                    MessLikeCount(res.artiNum, res.artiMessNum);
                    MessLike(res.artiNum, res.artiMessNum);
                },
                error: function (res) {
                    console.log("失敗", res);

                }
            });

        };
        //刪除留言愛心
        function MessDelLike(artiNum, artiMessNum) {
            $.ajax({
                url: '/delLike',
                type: 'POST',
                dataType: 'JSON',
                data: { "likeType": "articleMess", "artiMessNum": artiMessNum, "artiNum": artiNum },
                success: function (res) {
                    MessLikeCount(res.artiNum, res.artiMessNum);
                    cancelMessLike(res.artiNum, res.artiMessNum);
                },
                error: function (res) {
                    console.log("刪除失敗", JSON.stringify(res));
                }
            });

        };
        //點留言愛心後改變屬性
        function MessLike(artiNum, artiMessNum) {
            document.getElementById("MessDelLike" + artiNum + artiMessNum).style.display = "inline";
            document.getElementById("MessLikeUnLogIn" + artiNum + artiMessNum).style.display = "none";
            document.getElementById("MessAddLike" + artiNum + artiMessNum).style.display = "none";
        }
        //取消留言愛心後改變屬性
        function cancelMessLike(artiNum, artiMessNum) {
            document.getElementById("MessAddLike" + artiNum + artiMessNum).style.display = "inline";
            document.getElementById("MessLikeUnLogIn" + artiNum + artiMessNum).style.display = "none";
            document.getElementById("MessDelLike" + artiNum + artiMessNum).style.display = "none";
        }
        //取得留言愛心數
        function MessLikeCount(artiNum, artiMessNum) {
            $.ajax({
                url: '/likeCount',
                type: 'POST',
                dataType: 'JSON',
                data: { "likeType": "articleMess", "artiMessNum": artiMessNum, "artiNum": artiNum },
                success: function (res) {
                    document.getElementById("MessAddLikeCount" + res.artiNum + res.artiMessNum).innerHTML = res.data;
                    document.getElementById("MessDelLikeCount" + res.artiNum + res.artiMessNum).innerHTML = res.data;
                },
                error: function (res) {
                    console.log("失敗", JSON.stringify(res));
                }
            });
        }
        // delArticle
        function delArticle(artiNum) {
            if (confirm('您真的要刪除文章嗎？')) {
                $('.spinner-border').css('display', 'block')
                $('.coverContainer').css('display', 'block')
                $.ajax({
                    url: '/addLike',
                    type: 'POST',
                    data: { "artiNum": artiNum, "memID": '<%= items[0][0].memID %>', "delArticle": true },
                    success: function (res) {
                        alert('刪除成功！')
                        location.replace("/articleList/1");
                    },
                    error: function (res) {
                        alert('刪除失敗！')
                    }
                });
            }
        }
        // delReply
        function deleteReply(artiMessNum, memID) {
            if (confirm('您真的要刪除留言嗎？')) {
                $('.spinner-border').css('display', 'block')
                $('.coverContainer').css('display', 'block')
                $.ajax({
                    url: '/addLike',
                    type: 'POST',
                    data: { "artiMessNum": artiMessNum, "memID": memID, "deleteReply": true },
                    success: function (res) {
                        alert('刪除成功！')
                        location.reload();
                    },
                    error: function (res) {
                        alert('刪除失敗！')
                    }
                });
            }
        }

    </script>
</body>

</html>