<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  js   -->
    <script src="/javascripts/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/specialColumn.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <!-- navbar -->
    <div id="header"></div>
    <!-- 封面區塊 -->
    <div class="banner" style="background-image: url( '/imgs/testImgs/sp.jpg'); ">

    </div>
    <div class="container-fluid d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="contain">
                <center>
                    <h3 class="title">生活在藝術中的女孩—MAR2INA 夢裡那兔</h3>
                    <p> 2019-12-12 </p>
                </center>
                <p class="content">
                    MAR2INA發想源自於德文人名"marina"　
                    意指為大海的女人，也具有藝術天分、喜愛色彩及細心謹慎的含義在裡頭。
                    唸的順序是MARINA 2，中文音譯：夢裡那兔
                    會將2加在名字中間代表著核心，它象徵著自己的幸運數字、生日以及兔的發音。
                    因為水彩創作上的意外，發展出一套特有的明暗上色技法，紋理會隨著我當下心情、及環境影響而變化。

                    構圖、配色都能了解我的情緒、思想、故事
                    我喜歡讓每個觀賞者在我的作品前停下腳步
                    細細品嘗畫面中的每個角落。
                    <img src="/imgs/testImgs/sp.jpg" alt="">
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
        crossorigin="anonymous "></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous "></script>
    <script src="/javascripts/active.js "></script>
    <script src="/javascripts/navbar.js"></script>
    <script src="/javascripts/imageCompression.js"></script>
</body>

</html>