@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
html,
body {
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    border: none;
    padding-top: 3em;
    background: url("../imgs/background/articleBac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: justify !important;
    position: relative;
}

@media (max-width: 991px) {
    html,
    body {
        padding-top: 2em;
    }
}

@media (max-width: 650px) {
    html,
    body {
        background: url("../imgs/background/phone/ParticleBac.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}


/* ----------------------- */


/* font     */


/* ----------------------- */

@media (max-width: 450px) {
    h5.title {
        font-size: 3em;
    }
}

div.info {
    font-size: 1em;
}

h1 {
    font-weight: bolder;
    text-align: center !important;
    font-size: 2em;
    color: #eee;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 1px 1px 5px #555;
}

div.content {
    padding: 1em 1em 1em 1em;
    /* background-color: #eee; */
    background-color: #F7F7F6;
    opacity: 0.95;
    margin-bottom: 2em;
    border-radius: 12px;
}

div.preferLi {
    text-align: center;
}
ul.liContainer {
    list-style: none;
    display: inline-block;
    margin: 0;
}
/* ul.liContainer> li {
    cursor: pointer;
} */
ul.liContainer > li > a {
    text-decoration:none;
    color: rgb(73, 73, 73);
    font: bold;
}

ul.liContainer > li a:hover {
    color: rgb(148, 148, 148);
}
ul.liContainer > li::before {
  /* content: "\2022";  */
  display: inline-block; 
  /* font-size: 1em;  
  width: 1em !important;

  margin-left: -1em */

  content: " "; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5em;
  background: #993a3a;
}




button.like{
    outline: none !important;
    box-shadow: none !important;
}
/* ------------------- */


/* articlePost */


/* ------------------- */

@media (max-width: 1199px) {
    div.post {
        margin-top: 2em;
    }
}

a.floorTag {
    text-align: right;
    color: #fff !important;
    padding: 0.1em 0.4em 0.1em 0.4em;
    border: 2px solid #993a3a;
    border-radius: 8px;
    background-color: #993a3a;
    white-space: nowrap;
    margin: 0 0.5em 0 1em;
}

div.nameTime {
    word-break: break-all;
}

p.content {
    color: rgb(73, 73, 73);
}

button.report {
    float: right !important;
}


div.likeContainer{
    margin-right:1em;
}

button.like {
    float: left !important;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.col-sm-1 {
    padding-left: 1.5em;
    width: 15%;
}

@media (max-width: 650px) {
    .col-sm-1 {
        margin-right: 1em;
        padding: 0.1em 0 0 0.1em;
    }
}


/* post */

div.info {
    margin-left: -0.5em;
}

@media (max-width: 450px) {
    a.next::before {
        white-space: pre;
        content: '\A';
    }
}

a.dateTime {
    font-size: 0.9em !important;
    color: rgb(104, 102, 102) !important;
    margin: 0;
}


/* icon */

.fa-gratipay,
.fa-comment-dots,
.fa-bookmark {
    font-size: 25px;
    margin-right: 0.2em;
}

.fa-bookmark {
    padding-top: 0.13em;
}

.fa-gratipay:hover {
    
}

/* tag */

div.tagDiv {
    padding: 0em;
    margin: 0em;
}

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
}


/* hr */

hr.separate {
    opacity: 0.75;
    width: 70%;
    background-color: #eee;
    height: 1.5px;
    border: none;
    color: #d4d4d4;
}

hr.info {
    margin-bottom: 0em;
}

hr.smallMagin {
    margin: 0.2em 0 1em 0;
}


/* ------------------- */


/* replying */


/* ------------------- */

div.replying {
    margin-bottom: 50px;
}

input.message {
    width: 100%;
    height: auto;
}

div.replyInput {
    width: 100%;
    min-height: 150px;
    height: auto;
    padding: 1em;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.89;
    margin-bottom: 1em;
    border-radius: 8px;
    caret-color: #2D4F41;
    cursor: text;
}

.input:empty::before {
    color: lightgrey;
    content: attr(placeholder);
}


/*focus時内容為空*/

div.replyInput:focus:before {
    content: none;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: rgb(114, 114, 114);
}

div.replyInput:focus {
    outline: none;
    cursor: text;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.98;
    transition: 0.3s ease-in-out;
    cursor: text;
    display: block;
}

.float-md-right {
    float: right;
}

div[contenteditable=true]>div {
    padding: 0;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
    cursor: pointer;
}

img.upload-img {
    max-height: 450px;
    max-width: 70%;
    cursor: pointer;
    border-radius: 12px;
    padding: 0.35em;
}

button.report:hover {
    background-color:  hsla(0, 45%, 41%, 0.803);
    border-radius: 6px; 
    color: white;

}

i.fa-gratipay:hover {
    color:rgb(201, 55, 55);
}
i.fa-comment-dots:hover {
    color:rgb(60, 123, 246);
} 
