@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
html, body {
    height: 100%;
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    padding: 0;
    border: none;
    text-align: justify;
    background: url("../imgs/background/articleBac.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 1024px) {
    html, body {
        background: url("../imgs/background/phone/ParticleBac.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

div.container-fluid, div.row {
    margin: 0;
    padding-bottom: 1em;
}

/* article */

div.article {
    opacity: 0.94;
    margin-top: 6em;
}

/* card */

/* -------------- */

.wrapperCard {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    border: 3px solid #fff;
    /* text-align: left !important; */
}

@media (max-width: 991px) {
    div.wrapperCard {
        width: 100% !important;
        display: block;
        height: 6em !important;
        background-position: center center;
    }
}
p.poster {
    text-align: right;
    font-size: 1em;
}

#articleList .card {
    margin-bottom: 1em;
}

.card-text {
    line-height: 1.75em;
}

h3.card-title {
    font-size: 1.1em !important;
    text-align: left;
    font-weight: bolder;

}

/* tag */

a.dateTime {
    font-size: 0.9em !important;
    color: rgb(104, 102, 102) !important;
    margin: 0;
}

@media (max-width: 450px) {
    a.next::before {
        white-space: pre;
        content: '\A';
    }
}

.dotMenu {
    background-color: white !important;
    text-align: center;
    color: rgb(83, 83, 83) !important;
    font-size:1em !important; 
    padding: 0.25 !important;
    margin: 0.25 !important;
}
.dotMenu > .dropdown-item:hover {
    background-color: #b4d7ddb2 !important;
    color: rgb(83, 83, 83) !important;
    font-size:1em !important; 
    text-align: center;
    padding: 0.25 !important;
    margin: 0.25 !important;
}

/* card */

div.card-body {
    padding-bottom: 0em !important;
    opacity: 0.89;
}

hr.info {
    margin-bottom: 0em;
}

/* -------------- */

/* tag */

/* -------------- */

div.tagDiv {
    padding: 0em;
}

div.floor {
    margin-bottom: 0.5em;
}

div.articleContent {
    padding-left: 0;
}

div.seperate {
    padding-bottom: 1em;
}

div.info {
    margin-left: 0.45em;
    white-space: nowrap;
}

/* icon */

.fa-gratipay, .fa-comment-dots, .fa-bookmark {
    font-size: 25px;
    margin-right: 0.2em;
}

.fa-bookmark {
    padding-top: 0.13em;
}

/*  button */

button.footer {
    margin: 0.2em;
    height: auto;
    font-size: 1em;
    opacity: 0.89;
    padding: 0.2em 0.3em;
}

@media (max-width: 450px) {
    button.footer {
        font-size: 0.8em;
    }
}

/* h2 */

h2 {
    font-size: 2em;
    /* color: #eee; */
    /* text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000, 1px 1px 5px #555; */
}

/* ------------------ */

/* goPost */

/* ------------------ */

.fa-edit {
    margin-right: 0.2em;
}

/* postButton */

button.postButton {
    background-color: #2D4F41;
    color: white;
    margin: 0.2em;
    height: auto;
    font-size: 1em;
    opacity: 0.89;
    padding: 0.2em 0.3em;
}

button.postButton:hover {
    color: white;
    background-color: rgb(0, 34, 20);
    opacity: 100%;
}

@media (max-width: 450px) {
    button.postButton {
        font-size: 0.8em;
    }
}

