@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #678878;
}

.navbar .navbar-text {
    color: #5c868d;
}

.navbar .navbar-text a {
    color: #678878;
    text-align: center !important;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #678878;
}

.navbar .navbar-nav .nav-link {
    color: #5c868d;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #678878;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #678878;
    background-color: #2D4F41;
}

.navbar .navbar-toggle {
    border-color: #2D4F41;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #2D4F41;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #5c868d;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #5c868d;
}

.navbar .navbar-link {
    color: #5c868d;
}

.navbar .navbar-link:hover {
    color: #678878;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #5c868d;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #678878;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #678878;
    background-color: #2D4F41;
}


/* ========================================================================= */

@media (max-width: 991px) {
    .dropdown-toggle::after {
        display: none;
    }
}


/* drop menu */

.dropdown-toggle:active {
    background-color: none !important;
}

a.dropdown-toggle {
    color: white;
}

a.dropdown-toggle:hover {
    background-color: none;
}

div.dropdown-menu {
    background-color: #2D4F41;
    opacity: 0.89;
    border-radius: 12px;
    border: 2px solid #678878;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #2D4F41;
    border: 2px solid #678878;
}

.dropdown:hover .dropdown-menu .dropdown-item:not(.disabled):hover,
.dropdown:hover .dropdown-menu .dropdown-item:not(.disabled):focus {
    color: #678878;
    border-radius: 8px;
}

.dropdown-item:hover {
    background-color: #678878!important;
    border-radius: 4px;
    padding: 4px;
}


/* navbar文字hover */

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #678878 !important;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover .a .img {
    background-color: #678878 !important;
    transition: 0.3s;
}

#navbarNav>ul>li a {
    font-size: 1.1em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}

.navbar {
    opacity: 0.89;
    background-color: #2D4F41;
    /* background-color: #2D4F41;
    /* background-color: #9f9289; */
}

@media (max-width: 992px) {
    #navbarNav>ul>li a {
        font-size: 1em !important;
        text-decoration: #678878 solid 3px;
    }
}

@media (max-width: 1199px) {
    .navbar {
        background-color: #2D4F41;
    }
}

a.navTitle {
    font-size: 1.15em !important;
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    text-decoration: none;
}


/* ------------------- */


/* goto */


/* ------------------- */

#gotop {
    padding: 5px;
    position: fixed;
    z-index: 90;
    right: 30px;
    bottom: 31px;
    display: none;
    width: 50px;
    height: 50px;
    color: #fff;
    background: rgb(143, 143, 143);
    opacity: 0.75;
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width: 575px) {
    #gotop {
        position: fixed;
        bottom: 30px;
        right: 10px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        background: rgb(143, 143, 143);
        text-align: center;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}


/* -------------- */


/* hr */


/* -------------- */

hr.highlight {
    margin: 0.5em 0 2em 0 !important;
    width: 10em;
    background-color: rgba(42, 45, 44, 0.482);
    height: 3.5px;
    border: none;
    color: rgb(42, 45, 44);
    border-radius: 4px;
}

@media (max-width: 450px) {
    hr.highlight {
        width: 40%;
    }
    p {
        font-size: 1em !important;
    }
}


/* -------------- */


/* footer */


/* -------------- */

div.footer {
    width: 100%;
    text-align: justify;
    background-color: #2D4F41;
    opacity: 0.89;
    color: #fff;
    font-size: 0.75em;
    opacity: 0.89;
    color: #fff;
    margin: 1em 0 0 0 !important;
    padding: 1em 0 0 0 !important;
}


/* tag */

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
    text-align: left;
    margin-bottom: 0.25em; 
    background-color: #5580AA;
    border: none;
    color: white;
}

button.tag:hover {
    background-color: #32416e;
    color: white;
}


/* ------------------- */


/* shadowBox */


/* ------------------- */

.shadow {
    border-bottom: 0 none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.46);
}


/* ------------------ */


/* report */


/* ------------------ */

textarea.report {
    height: 200px;
    width: 100%;
    overflow-y: visible;
    border-radius: 8px;
    padding: 0.75em;
    border: solid rgb(201, 201, 201) 0.5px;
}

textarea:focus {
    box-shadow: none;
    outline: none;
}

::selection {
    background: #2D4F41;
    color: white;
}

a.helper {
    background-color: #993a3a;
    border-radius: .25rem;
    margin: 0 0.25em;
    text-align: center !important;
    display: block;
    padding: .5rem 0.5rem;
}

li.helperContainer:hover {
    background-color: rgb(93, 10, 10) !important;
}

a.helper:hover {
    clear: both;
    background-color: rgb(93, 10, 10)!important;
}


/* 
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: black;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
} */


/* **********************/


/* scroll */


/* **********************/

::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 80px 0 5px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(155, 155, 155);
}


/* **********************/


/* searchSection */


/* **********************/

div.searchSection {
    flex-direction: row;
    justify-content: flex-start;
    /* margin-right: 1em; */
    /* position: absolute;
    left: 15%; */
    text-align: center;
    float: center;
    overflow: hidden;
    width: 13em;
    margin-left: auto;
    margin-right: auto;
}

input.navSearch {
    border-radius: 6px;
    outline: none;
    margin: 0.5em 0em;
    background-color: rgb(21, 48, 36);
    border: none;
    box-shadow: none;
    padding-left: 0.6em;
    box-sizing: border-box;
    /* 使元素的寬度包括padding margin, border*/
    -moz-box-sizing: border-box;
    width: 10em;
}

input.navSearch:focus,
input.navSearch:hover {
    background-color: rgb(255, 255, 255) !important;
    transition-duration: 1.5s;
}

button.navSearch,
button.navSearch:hover {
    padding: 0.1em 0.4em;
    background-color: #2D4F41;
    color: white;
    margin-bottom: 0.25em;
    width: 2em;
}

button.navSearch:hover,
button.navSearch:focus {
    background-color: #678878 !important;
    box-shadow: none;
    outline: none;
}

button.postInfo:focus {
    outline: 0;
    box-shadow: none !important;
}

.scrollDown {
    transition: 0.1s ease-out;
    opacity: 0;
    height: 0;
}

button.report:hover {
    background-color:  hsla(0, 45%, 41%, 0.803);
    border-radius: 6px; 
    color: white;

}

i.fa-gratipay:hover {
    color:rgb(201, 55, 55);
}
i.fa-comment-dots:hover {
    color:rgb(60, 123, 246);
} 

/* .coverContainer {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
  } */
  
  .loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .loader--dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
  }
  .loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
  }
  .loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
  }
  .loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
  }
  .loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
  }
  .loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
  }
  .loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
  }
  .loader--text {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
  }
  .loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  @keyframes loader {
    15% {
      transform: translateX(0);
    }
    45% {
      transform: translateX(230px);
    }
    65% {
      transform: translateX(230px);
    }
    95% {
      transform: translateX(0);
    }
  }
  @keyframes loading-text {
    0% {
      content: "Loading";
    }
    25% {
      content: "Loading.";
    }
    50% {
      content: "Loading..";
    }
    75% {
      content: "Loading...";
    }
  }
  

.coverContainer {
    font-family: Helvetica;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 9999;
    display: none;
    background-color: white;
    opacity: 0.98;
    background-position: center center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
/* .coverContainer::before {
    content: 'Loading ...';
    font-size: 1.5em;
    position: fixed;
    left: 49%;
    top: 75%;
    margin-left: -20px;
    color: white;
} */


.spinner-border {
    position: fixed; 
    top: 45%; 
    left: 50%; 
    margin-left: -20px; 
    display: none;
    z-index: 10000;
}

.swal-button {
    background-color: rgb(177, 187, 171);
    border: solid 1px rgb(177, 187, 171) !important;
}
.swal-button:hover {
    background-color: rgb(101, 108, 97) !important;
}

.page-link {
    color: #2D4F41;
}
.page-link:hover {
    color: #2D4F41;
}


a.itemClass {
	display: inline-block;
	height: 21px;
	margin: 0 10px 0 0;
	padding: 0 7px 0 14px;
	white-space: nowrap;
	position: relative;

	background: -moz-linear-gradient(top, #fed970 0%, #febc4a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a));
	background: -webkit-linear-gradient(top, #fed970 0%,#febc4a 100%);
	background: -o-linear-gradient(top, #fed970 0%,#febc4a 100%);
	background: linear-gradient(to bottom, #fed970 0%,#febc4a 100%);
	background-color: #FEC95B;

	color: #963;
	font: bold 0.75em 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
	text-decoration: none;
	text-shadow: 0 1px rgba(255,255,255,0.4);

	border-top: 1px solid #EDB14A;
	border-bottom: 1px solid #CE922E;
	border-right: 1px solid #DCA03B;
	border-radius: 1px 3px 3px 1px;
	box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);
}
a.itemClass:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -6px;
	width: 10px;
	height: 10px;

	background: -moz-linear-gradient(45deg, #fed970 0%, #febc4a 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fed970), color-stop(100%,#febc4a));
	background: -webkit-linear-gradient(-45deg, #fed970 0%,#febc4a 100%);
	background: -o-linear-gradient(45deg, #fed970 0%,#febc4a 100%);
	background: linear-gradient(135deg, #fed970 0%,#febc4a 100%);
	background-color: #FEC95B;

	border-left: 1px solid #EDB14A;
	border-bottom: 1px solid #CE922E;
	border-radius: 0 0 0 2px;
	box-shadow: inset 1px 0 #FEDB7C, 0 2px 2px -2px rgba(0,0,0,0.33);
}
a.itemClass:before {
	-webkit-transform: scale(1, 1.5) rotate(45deg);
	-moz-transform: scale(1, 1.5) rotate(45deg);
	-ms-transform: scale(1, 1.5) rotate(45deg);
	transform: scale(1, 1.5) rotate(45deg);
}
a.itemClass:after {
	content: '';
	position: absolute;
	top: 7px;
	left: 1px;
	width: 5px;
	height: 5px;
	background: #FFF;
	border-radius: 4px;
	border: 1px solid #DCA03B;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
}


.wrapText, .limitLine, .content {
    word-break: break-all !important;
    overflow: hidden !important;
}

.dotMenu:hover {
    cursor: pointer;
}