@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #678878;
}

.navbar .navbar-text {
    color: #5c868d;
}

.navbar .navbar-text a {
    color: #678878;
    text-align: center !important;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #678878;
}

.navbar .navbar-nav .nav-link {
    color: #5c868d;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #678878;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #678878;
    background-color: #2D4F41;
}

.navbar .navbar-toggle {
    border-color: #2D4F41;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #2D4F41;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #5c868d;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #5c868d;
}

.navbar .navbar-link {
    color: #5c868d;
}

.navbar .navbar-link:hover {
    color: #678878;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #5c868d;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #678878;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #678878;
        background-color: #2D4F41;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #5c868d;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #678878;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #678878;
    background-color: #2D4F41;
}


/* ========================================================================= */

@media (max-width: 992px) {
    .dropdown-toggle::after {
        display: none;
    }
}


/* drop menu */

a.dropdown-toggle {
    color: white;
}

a.dropdown-toggle:hover,
a.dropdown-toggle:active {
    background-color: none;
}

div.dropdown-menu {
    background-color: #2D4F41;
    opacity: 0.89;
    border-radius: 12px;
    border: 2px solid #678878;
    transition: 0.3s;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #2D4F41;
    border: 2px solid #678878;
}

.dropdown:hover .dropdown-menu .dropdown-item:not(.disabled):hover,
.dropdown:hover .dropdown-menu .dropdown-item:not(.disabled):focus {
    color: #678878;
    border-radius: 8px;
    transition: 0.3s;
}

.dropdown-item:hover {
    background-color: #678878 !important;
    border-radius: 4px;
}


/* navbar文字hover */

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #678878 !important;
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover .a .img {
    background-color: #678878 !important;
    transition: 0.3s;
}

#navbarNav>ul>li a {
    font-size: 1.1em;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
}

@media (max-width: 992px) {
    #navbarNav>ul>li a {
        font-size: 0.9em !important;
        text-decoration: #678878 solid 3px;
    }
}

.navbar {
    opacity: 0.89;
    /* background-color: rgb(130, 143, 141); */
    /* background-color: #2D4F41;
    /* background-color: #9f9289; */
}

@media (max-width: 1199px) {
    .navbar {
        background-color: #2D4F41;
    }
}

a.navTitle {
    font-size: 1.15em !important;
    color: white !important;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    text-decoration: none;
}


/* ------------------- */


/* goto */


/* ------------------- */

#gotop {
    padding: 5px;
    position: fixed;
    z-index: 90;
    right: 30px;
    bottom: 31px;
    display: none;
    width: 50px;
    height: 50px;
    color: #fff;
    background: rgb(143, 143, 143);
    opacity: 0.75;
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
div.sentimentSection {
    background-color: rgba(240, 240, 240, 0.877);
    margin: 3em 0;
    padding: 2em 0;
    color: black;
}
div.sentimentTitle {
    text-align: left !important;
}
div.cardStyle {
    padding: 0.25em;
    color: black;
}
/* #sentimentSection {
    padding: 5px;
    position: fixed;
    z-index: 90;
    right: 30px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
    color: rgb(141, 30, 30);
    background: rgb(248, 235, 121);
    display: none;
    opacity: 0.75;
    line-height: 25px;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
    border: dotted 3px  rgb(241, 148, 8);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);  
} */

div.surpriseSection {
    position: fixed;
    z-index: 95;
    bottom: 80px;
    right: -45px;
    /* animation: shake 4s;
    animation-iteration-count: infinite; */
    -webkit-animation: shakeV2 1.5s ease-in-out 1.5s infinite alternate;

}

div.surpriseSection > img {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

a.surpriseHoverText {
    background-color: rgba(233, 93, 68);
    font-size: 0.75em;
    padding: 0.5em;
    border-radius: 6px; 
    color: white !important;    
    margin-right: 4.5em;
}

a.surpriseHoverText::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 12px;
    border-color: transparent transparent transparent rgba(233, 93, 68);
    position: absolute;
    bottom: 2.8em;
    content: "";
}

/* div.surpriseSectionContainer {
    border-radius: 6px;
    height: 20em;
    width: 20em;
    position: fixed;
    right: -30em;
    bottom: 220px;
    z-index: 1001;
}
div.surpriseHeader {
    position: sticky;
    top: 0px; 
    z-index: 1000; 
    background-color: white;
} */
@media (max-width: 575px) {
    #gotop {
        position: fixed;
        bottom: 30px;
        right: 10px;
        width: 40px;
        height: 40px;
        line-height: 30px;
        background: rgb(143, 143, 143);
        text-align: center;
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    div.surpriseSection {
        z-index: 95;
        bottom: 60px;
        right: -30px;
        /* animation: shake 4s;
        animation-iteration-count: infinite; */
        -webkit-animation: shakeV2 1.5s ease-in-out 1.5s infinite alternate;
    
    }
    
    div.surpriseSection > img {
        height: 70px;
        width: 70px;
    }
}


#positiveButton {
    border-right: 2px solid #2125298a;
}


/* -------------- */


/* hr */


/* -------------- */

hr.highlight {
    margin: 0.5em 0 2em 0 !important;
    width: 10em;
    background-color: rgba(42, 45, 44, 0.482);
    height: 3.5px;
    border: none;
    color: rgb(42, 45, 44);
    border-radius: 4px;
}

hr.leftSeperate {
    width: 13em;
    margin-left: 0;
    border-top: 5px solid rgb(71, 71, 71);
    border-radius: 0 8px 8px 0;
    margin: 0 0 2em 1em;
}

@media (max-width: 450px) {
    hr.highlight {
        width: 40%;
    }
    p {
        font-size: 1em !important;
    }
}


/* -------------- */


/* footer */


/* -------------- */

div.footer {
    width: 100%;
    text-align: justify;
    background-color: #2D4F41;
    opacity: 0.89;
    color: #fff;
    font-size: 0.75em;
    opacity: 0.89;
    color: #fff;
    margin: 7em 0 0 0 !important;
    padding: 3em 0 3em 0;
}


/* tag */

button.tag {
    font-size: 0.75em;
    border-radius: 8px;
    padding: 0.45em;
    margin-bottom: 0.25em; 
    text-align: left;
    background-color: #5580AA;
    border: none;
    color: white;
}

button.tag:hover {
    background-color: #32416e;
    color: white;
}


/* ------------------- */


/* shadowBox */


/* ------------------- */

.shadow {
    border-bottom: 0 none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.46);
}


/* ------------------ */


/* report */


/* ------------------ */

textarea.report {
    height: 200px;
    width: 100%;
    overflow-y: visible;
    border-radius: 8px;
    padding: 0.75em;
    border: solid rgb(201, 201, 201) 0.5px;
}

textarea:focus {
    box-shadow: none;
    outline: none;
}

::selection {
    background: #2D4F41;
    color: white;
}

a.helper {
    background-color: #993a3a;
    border-radius: .25rem;
    margin: 0 0.25em;
    text-align: center !important;
    display: block;
    padding: .5rem 0.5rem;
}

li.helperContainer:hover {
    background-color:rgb(93, 10, 10) !important;
}

a.helper:hover {
    clear: both;
    background-color: rgb(93, 10, 10) !important;
}


/* 
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: black;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
} */

::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 80px 0 5px 0;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgb(155, 155, 155);
}


/* **********************/


/* searchSection */


/* **********************/

div.searchSection {
    flex-direction: row;
    justify-content: flex-start;
    /* margin-right: 1em; */
    /* position: absolute;
    left: 15%; */
    text-align: center;
    float: center;
    overflow: hidden;
    width: 13em;
    margin-left: auto;
    margin-right: auto;
}

input.navSearch {
    border-radius: 6px;
    outline: none;
    margin: 0.5em 0em;
    /* background-color: rgb(21, 48, 36); */
    border: none;
    box-shadow: none;
    padding-left: 0.6em;
    box-sizing: border-box;
    /* 使元素的寬度包括padding margin, border*/
    -moz-box-sizing: border-box;
    width: 10em;
}

input.navSearch:focus,
input.navSearch:hover {
    background-color: rgb(255, 255, 255) !important;
    transition-duration: 1.5s;
}

button.navSearch,
button.navSearch:hover {
    padding: 0.1em 0.4em;
    /* background-color: #2D4F41; */
    color: white;
    margin-bottom: 0.25em;
    width: 2em;
}

button.navSearch:hover,
button.navSearch:focus {
    background-color: #678878 !important;
    box-shadow: none;
    outline: none;
}

.swal-button {
    background-color: rgb(177, 187, 171);
    border: solid 1px rgb(177, 187, 171) !important;
}
.swal-button:hover {
    background-color: rgb(101, 108, 97) !important;
}