@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
html,
body {
    height: 100%;
    max-width: 100%;
    font-family: 'Noto Serif TC', 'Times New Roman', 'Microsoft JhengHei';
    margin: 0 auto;
    padding: 0;
    border: none;
    text-align: center;
}

div.thirdParty {
    margin-top: 5em;
    padding: 1em;
    background-color: rgba(214, 66, 66, 0.787);
    opacity: 0.89;
}

button.btn {
    font-size: 1em;

}