<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="css/header.css" rel="stylesheet" type="text/css" />
    <link href="css/recommend.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>

    <div class="header">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top ">
            <a class="nav-link" href="index.ejs">
                <img class="nav-item" href="index.ejs" src="imgs/logo.png" width="30px" height="30px " style="opacity:0.8" alt="">
                <a href="index.ejs" class="navTitle">文藝富心</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <div class="searchSection">
                        <input type="text" class="navSearch" />
                        <button class="btn navSearch"><i class="fas fa-search"></i></button>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="recommendPost.ejs" style="display:none;">
                    新增推薦</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="index.ejs">首頁<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notify.ejs">
                            <i class="fas fa-bell" style="color:white;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recommendList.ejs">
                    推薦</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="articleList.ejs">
                        文章</a>
                    </li>
                    <li id="dropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="collectionArticle.ejs" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    收藏
                    </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="collectionRecommend.ejs">推薦收藏</a>
                            <a class="dropdown-item" href="collectionArticle.ejs">文章收藏</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navReport" style="cursor:pointer;" data-toggle="modal" data-target="#report">申報</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logIn.ejs">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="aboutUsButton" data-toggle="modal" data-target="#aboutUsDiv" style="cursor: pointer;">
                        小幫手</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="display:none;" class="nav-link dropdown-toggle" href="memberManage.ejs" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        會員
                    </a>
                        <div class="dropdown-menu member dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="memberManage.ejs">會員資料</a>
                            <a class="dropdown-item" href="articleManage.ejs">文章管理</a>
                            <a class="dropdown-item" href="#">登出</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">申報：</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="padding:1em;">
                    <textarea class="report"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <center>
        <h3>推薦收藏</h3>
        <hr class="highlight">
    </center>


    <div class="d-flex justify-content-center" style="margin-bottom: 1.5em;">
        <button type="button " class="btn btn-secondary footer">電影類</button>
        <button type="button " class="btn btn-secondary footer">音樂類</button>
        <button type="button " class="btn btn-secondary footer">書籍類</button>
        <button type="button " class="btn btn-secondary footer">展覽類</button>
        <button type="button " class="btn btn-secondary footer">全部</button>

    </div>
    <!-- Portfolio Section -->
    <section id="portfolio">

        <div class="row d-flex no-gutters container-fluid justify-content-center align-items-center recommend ">


            <!-- 電影類推薦 -->

            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/recommend/movie1.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>電影類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">幸福綠皮書</p>
                            <p class="content">改編自真人實事，描述60年代知名黑人鋼琴家唐薛利和他僱用的義裔司機兼保鑣大嘴東尼， 到美國深南部（Deep South）巡迴演出的公路故事。</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 電影類推薦結束 -->


            <!-- 音樂類推薦 -->

            <div class="wrapper  col-12  col-lg-2" style="background-image: url('imgs/testImgs/11.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>電影類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">黑色名冊</p>
                            <p class="content">《黑色名冊》，是一部2006年的電影，由保羅·范霍文執導，范氏跟葛拉·索德曼編劇。故事是由真人真事啟發，講述了第二次世界大戰末時一名荷蘭猶太人女子在納粹軍中當臥底的經歷。 </p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 音樂類推薦結束 -->
            <!-- 書籍類推薦 -->

            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/testImgs/18.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>展覽類</p>
                        </div>
                        <div class="project-name">
                            <p class="title"> 自然之外</p>
                            <p class="content">頌讚大自然的美好與壯麗，彷若人類的DNA，歷代皆然，讓我們有緣看到讀到博物學式的圖像與文字紀錄。
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 書籍類推薦結束 -->


            <!-- 展覽類推薦 -->
            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/recommend/exhibition1.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>展覽類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">光年之外
                            </p>
                            <p class="content">人類執著地追求永恆，好奇心驅使我們探索星空。 在神話時代，宇宙是奧林帕斯眾神的領土；印度教認為，宇宙是梵天、毗濕奴和濕婆的幻化； 在東方，我們說「天圓地方」。
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 展覽類推薦結束 -->
            <div class="w-100"></div>

            <!-- 電影類推薦 -->

            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/testImgs/19.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>展覽類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">敦煌文化藝術展 千年萬象</p>
                            <p class="content">　敦煌，絲綢之路的樞紐，見證千年古道悠長歲月，其所醞釀文化瑰寶，不單是人類文明重要遺產，形式各異的藝術表現，更為後人探究歷史軌跡與鑽研藝術風華的線索。</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 電影類推薦結束 -->


            <!-- 音樂類推薦 -->

            <div class="wrapper  col-12  col-lg-2" style="background-image: url('imgs/testImgs/8.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>電影類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">屍速列車</p>
                            <p class="content">《屍速列車》是2016年上映的韓國災難電影，由延尚昊執導。電影主演包括孔劉、鄭有美、馬東石、金秀安、崔宇植、安昭熙以及金義聖，韓國本土則於7月20日上映。</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 音樂類推薦結束 -->
            <!-- 書籍類推薦 -->

            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/testImgs/17.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>書籍類</p>
                        </div>
                        <div class="project-name">
                            <p class="title"> 別在走遠後才想起說再見</p>
                            <p class="content">故事在敘述一位比Jay Z還要富有且白手起家的超級富翁Phillip Lacasse，因為在一次暴風雨中挑戰滑翔翼而嚴重摔傷，進而導致四肢癱瘓....
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 書籍類推薦結束 -->


            <!-- 展覽類推薦 -->
            <div class="wrapper col-12  col-lg-2" style="background-image: url('imgs/testImgs/20.jpg');">
                <a class="portfolio-box" href="#">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">
                            <p>音樂類</p>
                        </div>
                        <div class="project-name">
                            <p class="title">模特

                            </p>
                            <p class="content">歌詞 穿華麗的服裝為原始的渴望而站著 用完美的表情為脆弱的城市而撐著 我冷漠的接受你焦急的等待也困著 像無數生存在櫥窗裡的模特
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 展覽類推薦結束 -->
            <div class="w-100"></div>
    </section>

    </div>

    </div>

    </div>




    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/active.js"></script>
</body>

</html>