<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <link href="/css/notify.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/imgs/logo.ico" type="image/x-icon" />

    <title>文藝富心</title>
</head>

<body>
    <div class="header">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top ">
            <a class="nav-link" href="index.ejs">
                <img class="nav-item" href="index.ejs" src="imgs/logo.png" width="30px" height="30px " style="opacity:0.8" alt="">
                <a href="index.ejs" class="navTitle">文藝富心</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <div class="searchSection">
                        <input type="text" class="navSearch" />
                        <button class="btn navSearch"><i class="fas fa-search"></i></button>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="recommendPost.ejs" style="display:none;">
                    新增推薦</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="index.ejs">首頁<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="notify.ejs">
                            <i class="fas fa-bell" style="color:white;"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recommendList.ejs">
                    推薦</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="articleList.ejs">
                        文章</a>
                    </li>
                    <li id="dropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="collectionArticle.ejs" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    收藏
                    </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="collectionRecommend.ejs">推薦收藏</a>
                            <a class="dropdown-item" href="collectionArticle.ejs">文章收藏</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="navReport" style="cursor:pointer;" data-toggle="modal" data-target="#report">申報</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logIn.ejs">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="aboutUsButton" data-toggle="modal" data-target="#aboutUsDiv" style="cursor: pointer;">
                        小幫手</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="display:none;" class="nav-link dropdown-toggle" href="memberManage.ejs" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        會員
                    </a>
                        <div class="dropdown-menu member dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="memberManage.ejs">會員資料</a>
                            <a class="dropdown-item" href="articleManage.ejs">文章管理</a>
                            <a class="dropdown-item" href="#">登出</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">申報：</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="padding:1em;">
                    <textarea class="report"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <center>
        <h3>會員通知</h3>
        <hr class="highlight">
    </center>
    <div class="w-100"></div>

    <div class="container-fluid">
        <div class="table row d-flex justify-content-center">
            <table class="table table-striped col-lg-8">
                <thead>
                    <tr class="align-middle">
                        <th scope="col" class="table1 align-middle">編號</th>
                        <th scope="col" class="table2 align-middle center">內容</th>
                        <th scope="col" class="table3 align-middle">日期</th>
                    </tr>
                </thead>

                <tbody>
                    <tr onclick="location.href='article.ejs'">
                        <th scope="row" class="table1 align-middle">1</th>
                        <td class="table2 align-middle">
                            <p>有<span style="color:red"> 2 </span> 人回應了您發佈的文章—《 《黎明的承諾》動人無比的母子情深｜影評．心得》，點選此通知便可查看文章</p>
                        </td>
                        <td class="table3 align-middle date">2019-05-17</td>
                    </tr>
                    <tr onclick="location.href='article.ejs'">
                        <th scope="row" class="table1 align-middle">2</th>
                        <td class="table2 align-middle">
                            <p>有<span style="color:red"> 50 </span>人對您發佈的文章——《 《黎明的承諾》動人無比的母子情深｜影評．心得》按了愛心，點選此通知便可查看文章
                            </p>
                        </td>
                        <td class="table3 align-middle date">2019-05-13</td>
                    </tr>
                    <tr onclick="location.href='recommend1.ejs'">
                        <th scope="row" class="table1 align-middle">3</th>
                        <td class="table2 align-middle">
                            <p>您在推薦——《光年之外─窺探宇宙秘密天文展》的留言廣受好評！，獲選為本周最佳留言，我們將寄送精美小獎品給您，通知已送達您的信箱確認無誤後請您回覆我們的e-mail，讓我們能順利寄送給您。</p>
                        </td>
                        <td class="table3 align-middle date">2019-05-12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <a href="#" id="gotop">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script src="/scripts/active.js "></script>
</body>

</html>